<div *ngIf="alert$ | async as alert">
    <div class="alert-container" *ngIf="alert.toggle">
        <div class="alert group" *ngIf="alert.type === 'alert'">
            <p>{{ alert.message }}</p>
            <br>
            <button (click)="onKay(alert.data)">okay</button>
        </div>
        <div class="spinner group" *ngIf="alert.type === 'loader'">
            <div class="loader">Loading...</div>
            <p>{{ alert.message }}</p>
            <br>
        </div>
        <div class="prompt group" *ngIf="alert.type === 'prompt'">
            <p>{{ alert.message }}</p>
            <div class="buttons-cont">
                <button class="cancel" (click)="onCancel(alert.data)">cancel</button>
                <button class="continue" (click)="onContinue(alert.data)">confirm</button>
            </div>
        </div>
    </div>
</div>