.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000000000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        color: #fff;
        font-size: 20px;
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    button {
        margin: 0 auto;
    }

    .group {
        flex-direction: column;
        display: flex;
    }

    .buttons-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        button {
            margin: 10px;
            min-width: 100px;
            font-size: 20px;
        }

        .cancel {
            background: rgb(247, 84, 84);
        }

        .continue {
            background: rgb(28, 180, 142);
        }
    }
}