<div class="images-container">
    <div class="benefit-cont"
        *ngFor="let d of data; let i = index;"
        [class.active]="i === active"
        (click)="onClicked(i,d.name)">
        <div class="image-container">
            <img 
                [src]="d.image"
            >
        </div>
        <!-- <i *ngIf="i === active" class="fa fa-check-circle"></i> -->
        <p>{{ d.name }}</p>
    </div>
</div>