.images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 10% 0 10% 0;

    .benefit-cont {

        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin-left:10px;

        .image-container {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right:20px;

            img {
                height: 100%;
                width: 100%;
            }

        }

        i {
            width: 50px;
            height: 50px;
            font-size: 40px;
            position: absolute;
            color: rgb(37, 134, 102);
            bottom: 0;
            right: 0;
            margin-bottom: -35px;
            margin-right: -25px;
            z-index: 10000;
        }

        p {
            margin: 10px auto;
        }

    }

    .active {
        border: solid thin  rgb(37, 134, 102);
        padding: 3px 0px 0px 15px;
        border-radius: 3px;
    }

}