<div class="container" style="margin-top:-105px" >

    <br>
    <br>
  
    <div class="container">
        <div class="row">
            <h1><img src="../../../../assets/images/users.png"  alt="users" width="50px">  USERS</h1>
        </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-lg-2">
                        <p style="margin-top:3%"><b>SEARCH</b></p>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-offset-3" style="margin-left:-9%">
                        <!-- <select (change)="onHistoryChange($event)">
                            <option value="none">Select here</option>
                            <option [value]="history._id" *ngFor="let history of history$ | async">
                                {{ history.name }}
                            </option>
                        </select> -->
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by name, email, phone number and role">
                </div>
                <!-- <div class="col-md-3"></div> -->
                <div class="col-md-3 col-sm-3 col-lg-3 pull-right" style="margin-left:33.5%">
                        <button [routerLink]="['new']"  style="
                        background: #9c8f8f;
                        border-color: #9c8f8f;
                    ">
                                <span class="fa fa-user "></span>
                                create users
                            </button>
                </div>
            </div>
        </div>
  
    <br>
    <br>
  
    <div class="row" *ngIf="!(loading$ | async)">
            <div class="col-12">
                <div class="card">
                    <div  class="card-header" style="padding-bottom:21px;margin-top: -38px;">
                          
        <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        
            </div>
                  <div class="card-content collapse show" > 
                        <div class="card-body inputs-container" style="padding-top: 0px;" >
                            <div class="table-responsive" >
                                <table class="table table-bordered" >
                                        <thead class="">
                                            <tr>
                                                <th>#</th>
                                                <th>Fullname</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Role</th>
                                                <th>Date created</th>
                                                <th>Manage</th>  
                                          </tr>
                                        </thead>

                                    <tbody >
                                        <tr *ngFor="let user of users$ | async | filter:searchText | paginate: { id: 'listing_pagination', itemsPerPage: 5, currentPage: page,totalItems: totalRec} ; let i=index; ">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{ user.fullname }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.phone }}</td>
                                            <td>{{ user.company_role }}</td>
                                            <td>{{ user.createdAt | date }}</td>
                                            <td scope="row">
                                              <div class="form-row">
                                                <div class="col-md-6">
                                                    <button  style="background:#2e9cf7; margin-right: 10px;" class="form-control btn-style">
                                                        <span class="fa fa-edit color-white"></span>
                                                    </button>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <button class="form-control btn-style" style="background:darkred; margin-right: 10px;" >
                                                        <span class="fa fa-trash color-white"></span>
                                                    </button>
                                                  </div>
                                                <!-- <div class="d-flex justify-content-center"> -->

                                              <!-- 
                                          
                                           -->
                                            </div>
                                            </td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
  
                                <!-- <div class="loader" *ngSwitchCase="true"></div> -->
                            </div>
                        </div>
                    </div> 
  
                    
  
  
                </div>
            </div>
          
  
  
           
  </div>
  
   
  </div>
  <div class="loader" *ngIf="(loading$ | async)">Loading...</div> 

  
  