.btn-style{
    /* width:60%; */
    height:20px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.mr-20{
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}
.color-white{
    color: white;
}