.cont {
    margin: 5% auto;
}

.add-wallet-container {
    padding: 19px;
    border: dashed thin indianred;
    padding-left: 27px;
    border-radius: 5px;
    width: 12rem;
    height: 7rem;
    float: left;
    margin-right: 20px;

    button {
        background: transparent;
        margin: 0 auto;
        color: indianred;
        font-size: 35px;
    }

}




.loader-cont {
    float: right;
}