<div class="row" style="
margin-top: -7%;
">
        <div class="container cont">

                <div class="add-wallet-container" (click)="addAccount()">
                    <div class="row">
                        <div class="col-md-6">
                    <span> <b>Click to add wallet</b></span>
                </div>
                <div class="col-md-2">
                    <button
                        class="add-button"
                        (click)="addAccount()"
                    > 
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button> 
                </div>
                </div>
                </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-12">
            <app-momo-wallet
                [data]="account"
                *ngFor="let account of accounts$ | async"
                (deleteEvent)="onDelete($event)"
            >
            </app-momo-wallet>

            <div *ngIf="loading$ | async">
                <div class="loader"></div>
            </div>


        </div>

    </div>
</div>
</div>