.list-grid-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5000000000000000000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .list-grid {
        background: #fff;
        width: 90%;
        height: 90vh;
        overflow: hidden;
    }

    button {
        margin: 10px;
    }


}