<br>
<br>

<app-add-fav-bar
    (searchEvent)="onSearch($event)"
    (changeEvent)="onChange($event)"
    (saveEvent)="onSave()"
    [activate_save]="true"
></app-add-fav-bar>


<div [ngSwitch]="loading$ | async">
    <div class="loader" *ngSwitchCase="true"></div>
    <app-contacts-form
        [data]="accounts"
        [search]="search"
        (formEvent)="onFormChange($event)"
    ></app-contacts-form>


</div>

