<div class="card ecom-card-1 bg-white wallet-container">
        <div class="card-content ecom-card2" style="height:130px">

            <div class="row">
                <div class="col-md-9">
                       
                        <h4 class="text-muted danger position-absolute p-1 card-title"  style="color:black !important">{{ data.name }} </h4>
                </div>
                <!-- <div class="col-md-3">
                    <div *ngFor="let issuers of issuers$ | async;">
                            <img class="img-cont float-right  p-1"
                            *ngIf="data.account_issuer === issuer.id"
                            [src]="network[issuer.prefix]"  
                            style="width: 80px;
                            height: 70px;"
                            alt=""
                        >
                        
                    </div>
                </div> -->
            </div>
            
            
            <div class="row card-body" style="padding: 20px;">
                        <p class=" mr-1  " style="background: white;color: #6d6d6d;margin-top:20%; margin-left: 15%">
                              <span> <i class="fa fa-phone"></i> &nbsp; {{ data.account_number }}</span> 
                        </p>
                </div>
         
        </div>
        
                <div class="card-footer row border-top-blue-grey border-top-lighten-5 text-muted">
                        <div class="container">
                        <span class="float-left" style="padding-top:10%">{{ data.createdAt | date : 'short' }}</span>
                        <span class="">
                            
                                <i (click)="delete(data['_id'])" 
                                    class="fa fa-trash float-right" 
                                    aria-hidden="true" style="color:#aa0e0e">
                                </i>
                            
                        </span>
                    </div>
                </div>
        
</div>
<!-- <div class="row match-height">
		<div class="col-lg-4 col-md-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Basic Card</h4>
					<h6 class="card-subtitle text-muted">Basic Card With Header & Footer</h6>
				</div>
				<img class="" src="../../theme-assets/images/carousel/22.jpg" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
				<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
					<span class="float-left">3 hours ago</span>
					<span class="float-right">
						<a href="#" class="card-link">Read More
							<i class="la la-angle-right"></i>
						</a>
					</span>
				</div>
			</div>
        </div>
</div> -->