
.wallet-container {
    border: solid thin #ddd;
    border-radius: 5px;
    width: 30%;
    height: 15rem;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;

    .button-cont {
        float: right;
        button {
            background: transparent;
        }
    }

    .item-cont {
        padding: 1rem;
        clear: both;

        i {
            color: indianred;
            font-size: 20px;
        }

        span {
            font-size: 20px;
            font-weight: bold;
            margin-left: 10px;
        }

        .network {
            float: right;
        }

        .img-cont {
            width: 15px;
            height: 40px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            overflow: hidden;
            float: left;

            img {
                width: 100%;
                // height: 100%;
            }
        }

    }

}
