.search-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: solid thin #ccc;
    margin: 5px 0;
    height: 50px;
    border: solid thin #ddd;

    span {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        font-size: 25px;
        color: #6d6d6d;
    }

    input {
        padding: 0 10px 0 10px;
        border-radius: 0;
        border: none;
        min-width: 200px;
        height: 40px;
    }
    
    button {
        height: 40px;
        border-radius: 0;

        span {
            color: #fff;
            width: 5px;
        }
    }
}