<div class="container">
<div class="row">
<div class="search-container" style="
border-radius: 15px;width:100%;
background-color: #eeee;width:600px;height:40px
">
    <input type="text" placeholder="Search name or phone number" [(ngModel)]="text" (keyup)="onKeyUp($event)" style="
    background-color: #eeee;">
    
</div>
</div>
</div>