<div class="tab-container">
    <div class="tab-items">
        <span  
            *ngFor="let tab of tabs; let i = index;" 
            [class.tab-active]="selected === i" 
            (click)="tabChanged(i,tab)">
            {{ tab }}
            <span 
                class="active-border"
                *ngIf="selected === i">
            </span>
        </span>
    </div>

    <div class="hr"></div>
</div>