/* Tab Styles */
.tab-container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.tab-container > .tab-content {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}



.tab-container > .tab-items {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    user-select: none;
}


.tab-container > .tab-items > span {
    position: relative;
    cursor: pointer;
    min-width: 100px;
    margin: 0 15px 0 15px;
    font-weight: bold;
}


.tab-container > .tab-items > span > .active-border {
    width: 100%;
    height: 3px;
    background: rgb(116, 176, 255);;
    position: absolute;
    bottom: -17px;
    left: 0;
    z-index: 1000000000;
}




.tab-container > .hr {
    position: relative;
    min-width: 100%;
    height: 1px;
    background: #ddd;
}


.tab-active {
    color: rgb(116, 176, 255);
}





/*  Contents Container */
.contents-cont {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}


.contents-cont > .lable-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
}


.lable-cont > span:first-child {
    color: #6d6d6d;
    font-size: 15px;
    flex: 1;
    text-align: left;
} 



.lable-cont > span:last-child {
    color: #000;
    font-size: 17px;
    flex: 2;
} 


.hide {
    display: none;
}