
<div class="inputs-container">

    <h2>New Transfer</h2>
    <hr>
    <!-- <app-transfers-form (formEvent)="onFormChange($event)"></app-transfers-form> -->
    <button (click)="save()">Send</button>

</div>