<div class="row filter-container" style="margin-top:-40px">
    <date-filter
      (dateChange)="onDateChange($event)"
    ></date-filter>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-1">
    <div class="row">
        <div class="col-12">
            <div class="card" *ngIf="!(loading$ | async)">
                
                <div class="card-content collapse show">
                    <div class="card-body inputs-container" style="margin-top:-5px">
                        
                        <div class="table-responsive" >
                            <table class="table table-bordered">
                                <thead>
                                    <tr >
                                        
                                        <th>Date Purchased</th>
                                        <th>Amount(GH₵)</th>
                                        <th>Prepaid Purchased</th>
                                        <th>Status</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let subscription of subscriptions$ | async | paginate: { itemsPerPage: 25, currentPage: p }" 
                                    (click)="onSelected(subscription)" 
                                    [class.list-active]="(selected$ | async)?._id === subscription['_id']"
                                    [class.status-new]="subscription.new">
                                        <th scope="row">{{ subscription.getDateString()}}</th>
                                        <td>{{ subscription.amount}}</td>
                                        <td>{{ subscription.credit }}</td>
                                        <td>
                                            <span
                                            [class.list-pending]="subscription.status === 'pending'"
                                            [class.list-failed]="subscription.status === 'failed'"
                                            [class.list-paid]="subscription.status === 'paid'"
                                          >{{ subscription.status }}</span>
                                        </td>
                                    </tr>
                                   
                                    
                                    
                                  
                                  
                                  
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            <div class="loader" *ngIf="loading$ | async">Loading...</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  
</div>


<div class="col-md-4">
    <div class="card inputs-container" [ngSwitch]="onEdit$ | async">
      
      <app-subscriptions-details *ngSwitchCase="false"></app-subscriptions-details>
    </div>
</div>
</div>