.detail-cont {
    padding: 20px;
    border-left: solid thin #eee;

}


.content {
    height: 90vh;
}


.table {

    tr {
        color: #6d6d6d;
    }

    .list-pending {
        background: rgb(100, 167, 255);
        color: #fff;
        padding: 5px;
        border-radius: 2px;
    }

    .list-failed {
        background: rgb(255, 71, 71);
        color: #fff;
        padding: 5px;
        border-radius: 2px;
    }

    .list-paid {
        background: rgb(48, 145, 100);
        color: #fff;
        padding: 5px;
        border-radius: 2px;
    }

    .list-active {
        background: #faf0f0;
        // color: #fff;
        padding: 5px;
        border-radius: 2px;
    }

}

.inputs-container {
    height: 65vh;
    overflow-y: scroll;
}
@media only screen and (min-width: 1370px) {
    .inputs-container {
        height: 70vh;
        overflow-y: scroll;
    }
   
    
}
@media only screen and (min-width: 1920px) {
    .inputs-container {
        height: 77vh;
        overflow-y: scroll;
    }
   
}


.tableinside{
    padding: 7px 0px 7px 11px;
}