<div class="row">
  <div class="col margin">
    <div class="table-top-cont">
      <button (click)="addUser()">Add Role</button>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>


<div class="col-md-8">
  <div class="card">
    <div 
      class="content table-responsive" 
      [ngSwitch]="loading$ | async">

        <table class="table table-hover table-bordered" *ngSwitchCase="false">
            <thead>
              <tr>
                  <th>#</th>
                  <th class="text-left">Name</th>
                  <th>Username</th>
                  <th>Role</th>
                  <th class="text-right">Blocked</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roles$ | async | paginate: { itemsPerPage: 15, currentPage: p }; let i = index;" 
                    (click)="onSelected(role)" 
                    [class.active]="(selected$ | async)?._id === role['_id']">
                  <td>{{ i + 1 }}</td>
                  <td class="text-left">{{ role.name }}</td>
                  <td>{{ role.username }}</td>
                  <td>{{ role.role }}</td>
                  <td class="text-right">{{ role.blocked }}</td>
                </tr>
            </tbody>
            <div class="spinner-container" *ngIf="loading$ | async">
              <div class="loader">Loading...</div>
          </div>
        </table>

        <div class="loader" *ngSwitchCase="true"></div>


        
      </div>
  </div>
</div>