  <!-- fixed-top-->
  <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
    <div class="navbar-wrapper">
      <div class="navbar-container content">
        <div class="collapse navbar-collapse show" id="navbar-mobile" style="background: white">
          <ul class="nav navbar-nav mr-auto float-left">
            <li class="nav-item d-block d-md-none"><a style="color:black" class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
              <li class="nav-item d-none d-md-block"><a style="color:white" class="nav-link nav-link-expand" href="javascript:void"><i class="ficon ft-maximize"></i></a></li>
          </ul>
          <!-- <ul *ngIf="(user$ | async)?.account_type === 'user'"> -->
          <ul class="nav navbar-nav float-right" *ngIf="(user$ | async)?.account_type === 'user' || (user$ | async)?.company_role==='authorizer'">         
            <li *ngIf="account_type | async as account" class="dropdown nav-item"><a class=" nav-link"  aria-haspopup="true" aria-expanded="false" style="color:black" *ngIf="account === 'prepaid' || account==='company'">
              Prepaid Balance: <b style="color: indianred;">{{ credits$ | async | currency:'GHS' }}</b>
            </a>
              
            </li>
          </ul>
          <ul class="nav navbar-nav float-right" *ngIf="(user$ | async)?.account_type === 'user'">         
            <li class="dropdown nav-item"><a class=" nav-link"  aria-haspopup="true" aria-expanded="false" style="color:black">
              Total Transfers: <b style="color: indianred;">{{ totalTransfers$ | async }}</b>
            </a>
              
            </li>
            
          </ul>
          <ul class="nav navbar-nav float-right" *ngIf="(user$ | async)?.account_type === 'user'">         
            <li class="dropdown nav-item"><a class=" nav-link"  aria-haspopup="true" aria-expanded="false">
              <a style="color:black"> | </a>
            </a>
              
            </li>
          </ul>
          <ul class="nav navbar-nav float-right" *ngIf="(user$ | async)?.account_type === 'user'">         
              <li class="dropdown nav-item"><a class=" nav-link"  aria-haspopup="true" aria-expanded="false">
                <a style="color:black"> Current Package</a>
              </a>
                
              </li>
            </ul>
          <ul class="nav navbar-nav float-right" *ngIf="(user$ | async)?.account_type === 'user'">
              <li *ngIf="user$ | async as user">
                  <select
                      *ngIf="user.corporate_id"
                      style="
                          margin: 15px auto;
                      "
                      [ngModel]="account_type | async"
                      (change)="onAccountChange($event)"
                  >
                      <option 
                          value="prepaid"
                      >Prepaid</option>
                      <option 
                          value="pay_as_you_go"
                      >Pay as you go</option>
                      <option 
                          value="corporate"
                      >corporate</option>
                  </select>
                  <select
                      *ngIf="!user.corporate_id"
                      style="
                          margin: 15px auto;
                      "
                      [ngModel]="account_type | async"
                      (change)="onAccountChange($event)"
                  >
                      <option 
                          value="prepaid"
                      >Prepaid</option>
                      <option 
                          value="pay_as_you_go"
                      >Pay as you go</option>
                  </select>
              </li>
          </ul>
        
           &nbsp;
           &nbsp;
           &nbsp;
          
         
          <ul class="nav navbar-nav float-right">         
            
            <li  class="dropdown dropdown-notification nav-item">
              <a class="nav-link nav-link-label"  data-toggle="dropdown" > 
              <img *ngIf="!((user$ | async)?.account_type === 'company')" src="../../../assets/img/user-icon.png" style="height:32px;width:32px; border-radius:50%"> 
              <img *ngIf="(user$ | async)?.account_type === 'company'" [src]= "(user$ | async)?.company_logo" alt="user" style="height:32px;width:32px; border-radius:50%"> 
            </a> 
              
              <!-- <li *sngIf="(user$ | async)?.account_type === 'company'" class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label"  data-toggle="dropdown" > <img [src]= "(user$ | async)?.company_logo" alt="user"  style="height:32px;width:32px; border-radius:50%"> </a>    -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="arrow_box_right"><a class="dropdown-item" ><i class="ft-user"></i> {{ (user$ | async)?.fullname }}</a>
                  <a *ngIf="(user$ | async)?.account_type === 'company'" class="dropdown-item"><i class="fa fa-building-o"></i> {{(user$ | async)?.company_name}}</a>
                  <a class="dropdown-item" (click)="logout()"><i class="ft-power"></i> Sign out</a>
                  <a class="dropdown-item" (click)="onReset()"><i class="fa fa-key"></i> Change password</a>
                </div>
              </div>
            </li>
            
          </ul>
          <p *ngIf="(user$ | async)?.account_type === 'company'" style="margin-top: 15px;"> <b>({{ (user$ | async)?.company_role | uppercase}})</b></p>
        </div>
      </div>
    </div>
  </nav>
