
.credit-container {

    

    display: flex;
    justify-content: space-between;

    span {
        font-size: 20px;
        color: #000;
    }

    span:last-child {
        color: #000;
        // background: rgb(103, 147, 243);
        padding: 5px;
        border-radius: 2px;
        font-weight: bold;
    }
    
}


.toggle-me {
    background: red;
    color: white;
}



.input-label {
    span {
        font-weight: bold;
        color: #000;
    }

    .invalid{
        color: red;
    }

}




.add-recipients-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 0 10px;

    span {
        color: #000;
    }

    select {
        width: 55px;
    }


}



.recipients-account-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    select {
        width: 100px;
        margin: 0 0 0 10px;
    }

    .phone {
        width: 150px;
        margin: 0 10px 0 0;
    }

}



.add-account-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
        color: #000;
        font-weight: bold;
        flex: 1;
    }

    button {
        background: transparent;
        width: 50px;
        color: rgb(255, 87, 95);
    }

}