<!-- <div class="inputs-container" [formGroup]="formGroup">

    <div class="credit-container">
        <span>Prepaid Remaining: </span>
        <span>{{ (user$ | async)?.credit }}</span>
    </div>

    <br>

    <div class="input-label">
        <span>Enter Total Amount To Transfer</span>
        <input 
            type="text" 
            formControlName="amount" 
            placeholder="transfer amount"
            [ngClass]="{'is-invalid': formGroup.get('amount').touched && formGroup.get('amount').invalid }"
          
        />
        <div  *ngIf="formGroup.get('amount').touched && formGroup.get('amount').invalid">
            <span class="invalid">Amount is required</span>
        </div>
    </div>

    <br>

    <div formGroupName="paymentAccount">

        <div class="input-label">
            <span>Select Network</span>
            <select formControlName="account_issuer">
                <option [value]="bank.Code" *ngFor="let bank of banks;let i=index;">
                    {{ bank.Bank_Name }}
                </option>
            </select>
        </div>
    
        <div class="input-label">
            <span>Enter Mobile Money Wallet Number</span>
            <input 
                type="text" 
                formControlName="account_number" 
                placeholder="account number"
                [ngClass]="{'is-invalid': formGroup.get('account_number').touched && formGroup.get('account_number').invalid}"

            />
            <div  *ngIf="formGroup.get('account_number').touched && formGroup.get('account_number').invalid}">
                <span class="invalid">Provide Debit Wallet</span>
            </div>
        </div>
    
        <div class="input-label" *ngIf="formGroup.get('account_issuer').value ==== 'vodafone'">
            <span>Enter your voucher code for vodafone cash, Vodafone requires that you generate a voucher code by dialing *110#</span>
            <input 
                type="number" 
                formControlName="voucherCode" 
                placeholder="voucher code"
            >
        </div>

    </div>


    <br>
    <hr>

    <div class="add-recipients-container">
        <span>Add Recipients</span>
        <select (change)="onRecipientChange($event)">
            <option [value]="i + 1" *ngFor="let item of getCredit((user$ | async)?.credit); let i = index;">
                {{ i + 1 }}
            </option>
        </select>
    </div>
    

    <div formArrayName="accounts">
        <div *ngFor="let account of accounts.controls; let i = index;" [formGroupName]="i">

            <div class="add-account-cont">
                <span>Remove Account</span>
                <button (click)="removeAccount(account)">
                    <i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
                </button>
            </div>


            <div class="recipients-account-cont">
                <input
                    class="phone"
                    type="text"
                    formControlName="wallet"
                    placeholder="number"
                    maxlength="10"
                    [ngClass]="{'is-invalid':formGroup.controls['accounts'].touched}"
                    
                >
                <input
                    type="text"
                    formControlName="amount"
                    placeholder="amount"
                    (change)="calculateTransferAmount($event)"
                >
                <select formControlName="network">
                    <option
                        [value]="network.name"
                        *ngFor="let network of networks">
                        {{ network.name }}
                    </option>
                </select>
            </div>

            <input
                type="text"
                formControlName="name"
                placeholder="name"
            >

            <textarea
                formControlName="description"
                placeholder="description"
                cols="30"
                rows="10">
            </textarea>

            <br>

        </div>
    </div>
    

</div>



<br> -->