.side-content-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(8, 21, 34, 0.3);
    z-index: 10;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}


.side-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 30vw;
    height: 100vh;
    // border-left: solid thin #eee;
    margin: 0 0 0 20px;
    padding: 10px;
    background: white;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transform: translateX(30vw);
    z-index: 2000000000;
    // overflow-y: scroll;
}


.onToggle {
    transform: translateX(0);
}