<div 
    class="side-content-mask" 
    *ngIf="(onToggle$ | async)" 
    (click)="clicked()">
</div>
<div class="side-content" [class.onToggle]="(onToggle$ | async)">
    <ng-content></ng-content>
</div>