
    <div class="page-ath-wrap" [ngSwitch]="loading$ | async">
      <div class="page-ath-content">
    
          <div class="page-ath-form">
              <img src="../../../dashboard/assets/img/BMT_lg.png" alt="logo" width="50%" style="margin-left: 25%; margin-bottom: 10%">
              <h2 class="page-ath-heading">Reset Password</h2>
<!-- <img src="../../../assets/icons/themify-icons/themify-icons.css" alt=""> -->
              <div *ngIf="alert$ | async as alert">
                <div *ngIf="alert.toggle" class="error-lable">
                  <p>{{ alert.message }}</p>
                </div>
              </div>

              <div class="loader" *ngSwitchCase="true"></div>

              <br>

              <div [formGroup]="formGroup">

                <div class="input-item"> 
                  <!-- <label for=""> <h5>Enter your current password</h5></label> -->
                   <input
                    type="password" 
                    placeholder="Enter password received" 
                    class="input-bordered" 
                    formControlName="otp"
                    [ngClass]="{'required': formGroup.get('otp').touched && formGroup.get('otp').invalid}" 
                    style="height:40px"
                  >
                </div>
                
                <div class="input-item"> 
                  <!-- <label for=""> <h5>Enter your current password</h5></label> -->
                   <input type="password" placeholder="new password" 
                      class="input-bordered" 
                      formControlName="newpassword"
                      [ngClass]="{'required': formGroup.get('newpassword').touched && formGroup.get('newpassword').invalid}" 
                      style="height:40px">
                </div>

                  <div class="input-item">
                      <!-- <label for=""> <h5>Enter your current password</h5></label> -->
                    <input 
                      type="password" 
                      placeholder="retype password" 
                      class="input-bordered" 
                      formControlName="retypepassword"
                      [ngClass]="{'required': formGroup.get('retypepassword').touched && formGroup.get('retypepassword').invalid}" 
                      style="height:40px"
                    >
                  </div>

                  <!-- <div class="d-flex justify-content-between align-items-center">
                      <div 
                        class="input-item text-left">
                        <input 
                          class="input-checkbox input-checkbox-md" 
                          id="remember-me" 
                          type="checkbox"
                          formControlName="remember"
                        >

                      </div>
                      <div><a href="forgot.html">Return to login?</a>
                          <div class="gaps-2x"></div>
                      </div>
                  </div> -->

                  <button
                    *ngSwitchCase="false"
                    class="btn btn-primary btn-block" 
                    (click)="resetpassword()">Reset Password</button>
                    <button
                    *ngSwitchCase="false"
                    class="btn btn-primary btn-block" 
                    (click)="Login()" style="width:0%"> <i class="fa fa-arrow-left"></i> Back to Login</button>

                </div>
                
              <!-- <div class="sap-text"><span>Or Sign In With</span></div> -->
              <ul class="row guttar-20px guttar-vr-20px">
                  <!-- <li class="col"><a href="#" class="btn btn-outline btn-dark btn-facebook btn-block"><em class="fab fa-facebook-f"></em><span>Facebook</span></a></li>
                  <li class="col"><a href="#" class="btn btn-outline btn-dark btn-google btn-block"><em class="fab fa-google"></em><span>Google</span></a></li> -->
              </ul>
              <div class="gaps-2x"></div>
              <div class="gaps-2x"></div>
              <!-- <div class="form-note">Don’t have an account? <a href="http://bulkmoneytransfer.com/signup/"> <strong>Sign up</strong></a></div> -->
          </div>


          <div class="page-ath-footer">
              <ul class="footer-links">
                  <!-- <li><a href="regular-page.html">Privacy Policy</a></li>
                  <li><a href="regular-page.html">Terms</a></li> -->
                  <li style="text-align: center">&copy; 2019 Bsystems Limited.</li>
              </ul>
          </div>
      </div>
      <div class="page-ath-gfx">
          <div class="w-100 d-flex justify-content-center">
              <!-- <div class="col-md-8 col-xl-5"><img src="images/bg-image.jpg" alt="image"></div> -->
          </div>
      </div>
  </div>
