<div class="row">
  <!-- <button class="picker-button"
  (click)="back()"
>
  <span class="fa fa-arrow-left"> Back</span>
</button> -->
    <div class="col-12">
      <div class="card">
        <div class="card-header" style="padding-bottom:0px">
          <div class="row">
            <div class="col-md-5">
              <h4 class="card-title" style="margin-top:10px">
                <b>Recipients</b>
              </h4>
            </div>
            <div class="col-md-3">
              <select (change)="filter($event)">
                <option value="">select ratio</option>
                <option [value]="ratio" *ngFor="let ratio of ratios">
                  {{ ratio }}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <button
                [disabled]="uploading"
                (click)="checkName()"
              >Check Again</button>
            </div>
            <div class="col-md-3">
              <button
                [disabled]="uploading"
                (click)="que()"
              >Que</button>
            </div>
          </div>
        </div>

        <div class="card-content collapse show">
          <div class="card-body inputs-container">
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="">
                  <tr >
                    <th>#</th>
                    <th>Recipient's Name</th>
                    <th>Account Number</th>
                    <th>Account Issuer</th>
                    <th>Name Received</th>
                    <th>Valid</th>
                    <th>Ratio</th>
                    <th>option</th>
                  </tr>
                </thead>

                <tbody *ngIf="!onfilter">
                  <tr
                    *ngFor="let name of names | paginate: { id: 'listing_pagination', itemsPerPage: 15, currentPage: page,totalItems: totalRec}; let i = index"
                  >
                    <th scope="row" [ngSwitch]="name.loading">
                        <span *ngSwitchCase="false">{{ i + 1 }}</span>
                        <!-- <i class="fa fa-spinner" *ngSwitchCase="true"></i> -->
                        <div class="loader" *ngSwitchCase="true"></div>
                    </th>
                    <td>{{name.account_name}}</td>
                    <td>{{name.account_number}}</td>
                    <td>{{name.getIssuer(issuers$ | async)}}</td>
                    <td>{{ name.name_received || 'qued' }}</td>
                    <td>
                        <i class="fa fa-check" *ngIf="name.checked"></i>
                        <i class="fa fa-close" *ngIf="!name.checked"></i>
                    </td>
                    <td>{{name.ratio}}</td>
                    <td><button [disabled]="uploading" (click)="remove(i)">remove</button></td>
                  </tr>
                </tbody>

                <tbody *ngIf="onfilter">
                  <tr
                    *ngFor="let name of _ratios | paginate: { id: 'listing_pagination', itemsPerPage: 15, currentPage: page,totalItems: totalRec}; let i = index"
                  >
                    <th scope="row" [ngSwitch]="name.loading">
                        <span *ngSwitchCase="false">{{ i + 1 }}</span>
                        <i class="fa fa-spinner fa-spin" *ngSwitchCase="true"></i>
                    </th>
                    <td>{{name.account_name}}</td>
                    <td>{{name.account_number}}</td>
                    <td>{{name.getIssuer(issuers$ | async)}}</td>
                    <td>{{ name.name_received || 'qued' }}</td>
                    <td>
                        <i class="fa fa-check" *ngIf="name.checked"></i>
                        <i class="fa fa-close" *ngIf="!name.checked"></i>
                    </td>
                    <td>{{name.ratio}}</td>
                    <td><button [disabled]="uploading" (click)="remove(i)">remove</button></td>
                  </tr>
                </tbody>


              </table>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>