<div class="col-md-6 offset-3" >
  <div class="card" style="margin-top:-70px">
    <div class="card-header">
      <h4 style="font-weight: bolder;"> <b>USER DETAILS</b></h4>
        
       <!-- <img src="../../../../../assets/images/user.png" class="blocked" alt="" width="20%"> -->
         </div>
    <div class="card-content collapse show">
      <div class="card-body">

        <div *ngIf="alert$ | async as alert">
          <div *ngIf="alert.toggle" class="error-lable">
            <p style="color: green;border-color: green!important;">{{ alert.message }}</p>
            <!-- alert({{ alert.message }}); -->
          </div>
        </div>
  
        <form class="form" [formGroup]='formGroup'>
          <div class="form-body">

            <div class="form-group">
              <label >Full Name</label>
              <input formControlName='fullname' class="form-control border-primary" type="text" placeholder="Full name of user" id="contactinput5">
            </div>

            <div class="form-group">
              <label>Email</label>
              <input formControlName='email' class="form-control border-primary" type="email" placeholder="Email of user" id="contactemail5">
            </div>

            <div class="form-group">
              <label >Phone number</label>
              <input formControlName='phone' class="form-control border-primary" type="tel" placeholder="Phone number of user" id="contactinput6">
            </div>
            <div class="form-group">
              <label>Role of user</label>
              <select formControlName='company_role' name="roles" class="form-control">
                <option value="none" selected="" disabled="">Select role</option>
                <option value="payer">Payer</option>
                <option value="authorizer">Authorizer</option>
                
              </select>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input formControlName='password' class="form-control border-primary"  type="password" placeholder="Create password for user">
            </div>

          </div>

          <div class="form-actions blocked" style="float: right;">
            <button type="button" class="btn btn-primary mr-1" (click)="save()">
              <i class="fa fa-plus"></i> Create User
            </button>
            
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
