.form{
    display:block;
    margin-top:0em;
    padding:20px
}
.blocked{
    display:block;
    margin:auto;
}

.error-lable {
    padding: 10px;
    border: solid thin rgb(255, 204, 204);
    border-radius: 5px;
}