<!-- <div class="container"> -->

    <div class="row filter-container" style="
    margin-top: -40px;">
        <date-filter
          (dateChange)="onDateChange($event)"
        ></date-filter>
      
        <div class="col-md-4" >
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        
        </div>
        <div class="container">
        <div class=" row">
          <div class="col-md-1"></div>
            <div class="col-md-8" style="margin-left:-10%">
                <input 
                type="text"
                style="margin:0 0px 8px 0px;height: 125%;width: 70%;border-color: transparent;background: #eeee;font-weight: normal;color: 5f6368; border-radius: 15px"
                placeholder="Search name or Phone Number"
                (keyup)="onSearch($event)"
            >
          </div>
        </div>
      </div>
        
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top:20px " >
                
                <div class="card-content collapse show">
                    <div class="card-body inputs-container"  *ngIf="!(loading$ | async)">
                        
                        <div class="table-responsive"  >
                            <table class="table table-bordered" >
                                <thead>
                                    <tr >
                                        <th>#</th>
                                        <th>Account Name</th>
                                        <th>Phone Number</th>
                                        <th>Transfer Date</th>
                                        <th>Total Amount<br> (GHS)</th>
                                        <th>Total Recipients</th>
                                        <th>Total Successful</th>
                                        <th>Total failed</th>
                                        <th>Total refund (GHS)</th>
                                        <th>Charge (GHS)</th>
                                        <th class="text-center">View</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let transfer of transfers$ | async | paginate: { itemsPerPage: 25, currentPage: p }; let i = index">
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td>{{ transfer.getAccountName() }}</td>
                                        <td>{{ transfer.getPhone() }}</td>
                                        <td>{{ transfer.getDateString() }}</td>
                                        <td>{{ transfer.amount | currency: 'GHS'}}</td>
                                        <td>{{ transfer.total_transfer_count }}</td>
                                        <td>{{ transfer.tsuccessful }}</td>
                                        <td>{{ transfer.tfailed }}</td>
                                        <td>{{ transfer.total_refund | currency: 'GHS' }}</td>
                                        <td>{{ transfer.charge | currency: 'GHS' }}</td>
                                        <td>
                                            <button
                                                (click)="view(transfer)"
                                                data-toggle="modal" 
                                                data-target="#details"
                                            >
                                                <i class="fa fa-info-circle fa-2x"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            
                            </div>
                            <div class="spinner-container" *ngIf="loading$ | async">
                                <div class="loader">Loading...</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        
        
        <!-- Modal -->
        <div 
            class="modal fade" 
            id="details" tabindex="-1" 
            role="dialog" 
            aria-labelledby="Transfer Details" 
            aria-hidden="true"
        >

            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Transfer Details</h5>
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="modal" 
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">

                            <div *ngIf="transfer$ | async as transfer" class="cont">
                                    <div *ngIf="transfer._id">
                                        <p>
                                            <span>Transaction ID</span>
                                            <span>{{ transfer.transactionId }}</span>
                                        </p>
                                        <p>
                                            <span>Transaction Date</span>
                                            <span>{{ transfer.createdAt | date:'fullDate' }}</span>
                                        </p>
                                        <p>
                                            <span>Transaction Time</span>
                                            <span>{{  getTime(transfer.createdAt) }}</span>
                                        </p>
                                        <p>
                                            <span>Number of Recipients</span>
                                            <span>{{ transfer.total_transfer_count }}</span>
                                        </p>
                                        
                                        <p>
                                            <span>Total Amount Deducted</span>
                                            <span>{{ transfer.amount | currency: 'GHS' }}</span>
                                        </p>
                                        <p>
                                            <span>Total Amount Sent</span>
                                            <!-- <span>xxx</span> -->
                                            <span>{{ transfer.totalTransferAmount | currency: 'GHS' }}</span>
                                        </p>
                                        <p>
                                            <span>Total Amount Received</span>
                                            <span>{{ transfer.totalReceived | currency: 'GHS' }}</span>
                                        </p>
                                        <p>
                                            <span>Account Type</span>
                                            <span
                                                class="account-type"
                                                style="color:black"
                                            >{{ transfer.account_type }}</span>
                                        </p>
                                        <br>
                                        <h4>Payment Details</h4>
                                        <hr>
                                        <p *ngIf="transfer.paymentAccount">
                                            <span>Wallet Number:</span>
                                            <span>{{ transfer.account_number }}</span>
                                        </p>
                                        <p>
                                            <span>Payment Type</span>
                                            <span
                                                class="account-type"
                                                style="color:#fff"
                                            >{{ transfer.payment_type }}</span>
                                        </p>
                                
                                        <br>
                                
                                
                                        <h4>Payment Details</h4>
                                        <hr>
                                
                                        <div>
                                
                                            <p>
                                                <span>Wallet:</span>
                                                <span>{{ transfer.account_number }}</span>
                                            </p>
                                            <p>
                                                <span>Account Issuer</span>
                                                <span
                                                    style="color: #fff"
                                                >{{ transfer.account_issuer }}</span>
                                            </p>
                                    
                                            <br>
                                            <p>
                                                <span>Status</span>
                                                <span
                                                    [class.status-failed]="transfer.status === 'failed'"
                                                    [class.status-paid]="transfer.status === 'paid'"
                                                    [class.status-pending]="transfer.status === 'pending'"
                                                    style="color: #fff"
                                                >{{ transfer.status }}</span>
                                            </p>
                                
                                        </div>
                                
                                
                                        <br>
                                        <!-- <p>
                                            <span>Transfer Type</span>
                                            <span>{{ transfer.type }}</span>
                                        </p> -->
                                
                                        <!-- <br>
                                        <p>
                                            <span>Transfer Canceled</span>
                                            <span>{{ transfer.canceled ? YES : NO }}</span>
                                        </p> -->
                                
                                        <div *ngIf="transfer.debitStatus">
                                            <br>
                                            <h4>Debit Details</h4>
                                            <hr>
                                            <p>
                                                <span>Response Code</span>
                                                <span>{{ transfer.debitStatus.ResponseCode }}</span>
                                            </p>
                                            <div>
                                                <p>Message</p>
                                                <p class="status-description">{{ transfer.getDebitStatus() }}</p>
                                            </div>
                                        </div>

                                        <br>
                                        <hr>

                                        <button
                                            style="width: 100%"
                                            data-toggle="modal" 
                                            data-dismiss="modal" 
                                            data-target="#transactions"
                                            (click)="openTransactions()"
                                        >
                                            open transactions
                                        </button>
                                
                                    </div>
                                </div>


                    </div>
                </div>
            </div>
        </div>
        
        <!-- END TRANSFER DETAILS MODEL -->


        <!-- START TRANSACTIONS MODAL -->
        <div 
            class="modal fade" 
            id="transactions" tabindex="-1" 
            role="dialog" 
            aria-labelledby="Transfer Details" 
            aria-hidden="true"
        >

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Transfer Details</h5>
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="modal" 
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                
                                <div class="scrol-cont" [ngSwitch]="loading$ | async">
                                        <!-- <pagination-controls (pageChange)="p2 = $event"></pagination-controls> -->
                                        <table class="table table-bordered" *ngSwitchCase="false">
                                            <thead>
                                                <tr>
                                                    <th class="tableinside">#</th>
                                                    <th class="text-left tableinside">Recipient's Name</th>
                                                    <th class="text-left tableinside">Mobile MoneyNumber</th>
                                                    <th class="text-left">Amount Sent</th>
                                                    <th class="text-left tableinside">Account Issuer</th>
                                                    <th class="text-left tableinside">Status</th>
                                                    <!-- <th class="text-left tableinside">Amount</th> -->
                                                    <th class="text-left tableinside">Description</th>
                                                    <th class="text-left tableinside">Message</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let transaction of transactions$ | async | paginate: { itemsPerPage: 25, currentPage: p }; let i = index;">
                                                    <th>{{ i + 1 }}</th>
                                                    <th class="text-left tableinside">{{ transaction.account_name }}</th>
                                                    <th class="text-left tableinside">{{ transaction.account_number }}</th>
                                                    <th class="text-left">{{ transaction.amount }}</th>
                                                    <th class="text-left tableinside">{{ transaction.account_issuer }}</th>
                                                    <th class="text-left tableinside">
                                                        <span *ngSwitchCase="false"
                                                            [class.status-failed]="transaction.status === 'failed'"
                                                            [class.status-paid]="transaction.status === 'paid'"
                                                            [class.status.pending]="transaction.status === 'pending'"
                                                        >{{ transaction.status }}</span>
                                                    </th>
                                                    <!-- <th class="text-left tableinside">{{ transaction.paymentAccount.amount}}</th> -->
                                                    <th class="text-left">{{ transaction.description }}</th>
                                                    <th class="text-left">{{ transaction.getCreditStatus() }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="loader" *ngSwitchCase="true"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>