<div *ngIf="transfer$ | async as transfer" class="cont">
    <div *ngIf="transfer._id">
        <div class="labels-cont">
            <h4><strong>Summary</strong></h4>
            <div>
            <button (click)="toggleEdit()">Transaction Details</button>
            <!-- <button (click)="delete(transfer['_id'])">Delete</button> -->
            </div>
        </div>
        <hr>
        <p>
            <span>Transaction ID</span>
            <span>{{ transfer.transactionId }}</span>
        </p>
        <p>
            <span>Transaction Date</span>
            <span>{{ transfer.createdAt | date:'fullDate' }}</span>
        </p>
        <p>
            <span>Transaction Time</span>
            <span>{{  getTime(transfer.createdAt) }}</span>
        </p>
        <p>
            <span>Number of Recipients</span>
            <span>{{ transfer.total_transfer_count }}</span>
        </p>
        
        <p>
            <span>Total Amount Deducted</span>
            <span>{{ transfer.amount | currency: 'GHS' }}</span>
        </p>
        <hr>
        <h4>Bank Transfers</h4>
        <p>
            <span>Number</span>
            <span>{{ transfer.totalBankTransfers }}</span>
        </p>
        <p>
            <span>Amount</span>
            <span>{{ transfer.totalBankTransferAmount }}</span>
        </p>
        <hr>
        <h4>Mobile money Transfers</h4>
        <p>
            <span>Number</span>
            <span>{{ transfer.totalMomoTransfers }}</span>
        </p>
        <p>
            <span>Amount</span>
            <span>{{ transfer.totalMomoTransferAmount | currency: ' GHS ' }}</span>
        </p>
        <!-- <p>
            <span>Total Amount Sent</span>
            <span>{{ transfer.totalTransferAmount | currency: 'GHS' }}</span>
        </p> -->
        <!-- <p>
            <span>Total Amount Received</span>
            <span>{{ transfer.totalReceived | currency: 'GHS' }}</span>
        </p> -->
        <!-- <p>
            <span>Account Type</span>
            <span
                class="account-type"
                style="color:black"
            >{{ transfer.account_type }}</span>
        </p> -->
        <ng-container *ngIf="transfer.control === 'user'">
            <br>
            <h4>Payment Details</h4>
            <hr>
            
            <p >
                <span>Account Number:</span>
                <span>{{ transfer.account_number }}</span>
            </p>
            <p >
                <span>Account Issuer:</span>
                <span>{{ transfer.getIssuer(issuers$ | async) }}</span>
            </p>
            <p *ngIf="transfer.account_name && transfer.account_name !== ''">
                <span>Account Name:</span>
                <span>{{ transfer.account_name }}</span>
            </p>
        </ng-container>
        <!-- <p>
            <span>Payment Type</span>
            <span
                class="account-type"
                style="color:#000"
            >{{ transfer.payment_type }}</span>
        </p> -->

        <br>


        <!-- <h4>Payment Details</h4>
        <hr>

        <div *ngIf="transfer.payment_type === 'momo'">

            <p>
                <span>Wallet:</span>
                <span>{{ transfer.paymentAccount.wallet }}</span>
            </p>
            <p>
                <span>Network</span>
                <span
                    [class.mtn]="transfer.paymentAccount.network === 'mtn-gh'"
                    [class.vodafone]="transfer.paymentAccount.network === 'vodafone-gh'"
                    [class.vodafone]="transfer.paymentAccount.network === 'airtel-gh'"
                    [class.tigo]="transfer.paymentAccount.network === 'tigo-gh'"
                    style="color: #fff"
                >{{ transfer.paymentAccount.network }}</span>
            </p>
    
            <br>
            <p>
                <span>Status</span>
                <span
                    [class.status-failed]="transfer.status === 'failed'"
                    [class.status-paid]="transfer.status === 'paid'"
                    [class.status-pending]="transfer.status === 'pending'"
                    style="color: #fff"
                >{{ transfer.status }}</span>
            </p>

        </div> -->

        <div *ngIf="transfer.payment_type === 'card'">
                <p>
                    <span>Card Number:</span>
                    <span>{{ transfer.cardNumber }}</span>
                </p>
        </div>


        <br>
        <!-- <p>
            <span>Transfer Type</span>
            <span>{{ transfer.type }}</span>
        </p> -->

        <!-- <br>
        <p>
            <span>Transfer Canceled</span>
            <span>{{ transfer.canceled ? YES : NO }}</span>
        </p> -->

        <div *ngIf="transfer.debitStatus">
            <br>
            <h4>Debit Details</h4>
            <hr>
            <!-- <p>
                <span>Response Code</span>
                <span>
                    {{ transfer.getDebitCode() }}
                </span>
            </p> -->

            <br>

            <div>
                <p>Message</p>
                <p 
                    class="status-description"
                    style="color: rgb(7, 29, 27); font-size: 20px;"
                >
                    {{ transfer.getDebitStatus() }}
                </p>
            </div>
        </div>

    </div>
</div>

<div *ngIf="!(transfer$ | async)?._id">No attendance selected</div>