<div class="col-md-4">
    <div class="card detail-cont">
        <div *ngIf="user$ | async as user">
            <div class="labels-cont">
                <div>Details</div>
                <div>
                    <!-- <button (click)="toggleEdit()">Edit</button> -->
                    <button (click)="deleteUser(user['_id'])">Delete</button>
                </div>
            </div>
            <br>
            <hr>
            <p>
                <span>Full Name</span>
                <span>{{ user.name }}</span>
            </p>
            <p>
                <span>Username</span>
                <span>{{ user.username }}</span>
            </p>
            <p>
                <span>Role</span>
                <span>{{ user.role }}</span>
            </p>
            <p>
                <span>Blocked</span>
                <span>{{ user.blocked ? 'YES' : 'NO' }}</span>
            </p>
            <p>
                <span>Date Registered</span>
                <span>{{ user.createdAt | date }}</span>
            </p>
        </div>
        <h5 *ngIf="!(user$ | async)?._id">No user selected!</h5>
    </div>
</div>
