.detail-cont {
    padding: 20px;
}

p {
    display: flex;
    flex-direction: column;

    span {
        margin-top: 5px;
        color: #666666;
    }

    span:last-child {
        font-size: 20px;
        color: #000;
    }
}