
<br>
<br>

<app-admin-table></app-admin-table>

<div [ngSwitch]="onEdit$ | async">
    <app-admin-details *ngSwitchCase="false"></app-admin-details>
    <app-edit-admin *ngSwitchCase="true"></app-edit-admin>
</div>


<app-add-admin></app-add-admin>
