<div class="container" style="margin-top:-114px">

  <br>
  <br>

  <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-3 col-lg-3">
                     <img style="margin-top:10px" src="../../../../assets/images/pending.png" width="35px"  alt="Pending"> 
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 " style="margin-left:-20%">
                      <!-- <select (change)="onHistoryChange($event)">
                          <option value="none">Select here</option>
                          <option [value]="history._id" *ngFor="let history of history$ | async">
                              {{ history.name }}
                          </option>
                      </select> -->
                      <h1 style="margin-top:3%"><b>Pending payments</b></h1>
              </div>
              <!-- <div class="col-md-3"></div> -->
              <div class="col-md-3 col-sm-3 col-lg-3 pull-right" style="margin-left:27.5%">
                      <!-- <button [routerLink]="['new']"  style="
                      background: #9c8f8f;
                      border-color: #9c8f8f;
                  ">
                              <span class="fa fa-user "></span>
                              create users
                          </button> -->
              </div>
          </div>
      </div>
<!-- <button (click)="Redirect()">back</button> -->

  <br>


  <br>
  <div  *ngIf="!(loading$ | async)">
  <div class="alert alert-success" role="alert" *ngIf="(transfers$ | async)?.length == 0">
    <h3 style="color:azure"><b>You have no pending payments</b></h3>
  </div>
  <div class="row" *ngIf="(transfers$ | async)?.length > 0">
          <div class="col-12">
              <div class="card"                                                                   >
                  <div  class="card-header" style="padding-bottom:21px">
                    
                    
          </div>
                <div class="card-content collapse show" > 
                      <div class="card-body inputs-container" >
                        
                          <div class="table-responsive scrol-cont">
                              <table class="table table-bordered"  >
                               
                                      <thead class="">
                                          <tr>
                                              <th>#</th>
                                              <th>Payer</th>
                                              <th>Amount</th>
                                              <th>Recipients</th>
                                              <th>Date created</th>
                                              <th>Transaction time</th>
                                              <!-- <th>Test</th> -->
                                              <th>Manage</th>
                                          </tr>
                                      </thead>
                                  <tbody >
                                      <tr  *ngFor="let transfer of transfers$ | async; let i=index ">
                                        <p *ngIf="" >You have no pending payment</p>
                                          <th scope="row">{{i+1}}</th>
                                          <td>
                                             {{ transfer.getAccountName() }}
                                         </td>
                                          <td>
                                             {{ transfer.amount | currency:'GHS ' }}
                                          </td>
                                          <td>
                                              {{ transfer.total_transfer_count }}
                                          </td>
                                          <td>
                                              {{ transfer.createdAt | date }}
                                          </td>
                                          <td>
                                              {{getTime(transfer.createdAt)}}
                                          </td>
                                          <!-- <td>
                                              {{transfer.totalBankTransferAmount}}
                                          </td> -->
                                          <td scope="row">
                                            
                                          <ul class="">         
            
                                            <li style="list-style: none;" class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label"  data-toggle="dropdown" > <i class="fa fa-tasks"></i> </a> 
                                              <div class="dropdown-menu dropdown-menu-right">
                                                <div class="arrow_box_right">
                                                    <!-- <a class="dropdown-item" ><i style="color: blue;" class="fa fa-eye"></i> View</a> -->
                                                  <a class="dropdown-item"  (click)="approve(transfer,'approved')"><i style="color: green;" class="fa fa-check"></i> Approve</a>
                                                  <!-- <a class="dropdown-item" (click)="approve(transfer,'resend')"><i class="fa fa-times" style="color: red;"></i> Resend</a> -->
                                                  <a class="dropdown-item" (click)="approve(transfer,'rejected')"><i class="fa fa-times" style="color: red;"></i> Cancel</a>
                                                </div>
                                              </div>
                                            </li>
                                          </ul>
                                        
                                          
                                          </td>
                                          
                                      </tr>
                                      
                                  </tbody>
                              </table>

                              <!-- <div class="loader" *ngSwitchCase="true"></div> -->
                          </div>
                         
                      </div>
                  </div> 

                  


              </div>
          </div>
        


         
</div>

 
</div>
<div class="loader" *ngIf="(loading$ | async)">Loading...</div> 
</div>

