.btn-style{
    width:25%;
    /* height:20px; */
    border-radius: 10px;
}
.mr-20{
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
.ml-20{
    margin-left: 20px;
}
.scrol-cont {

    overflow-y: scroll;
    height: 55vh;

}