<h3>TRANSFERS</h3>
<br>
<div class="row" *ngIf="transfers$ | async as transfer">

  <div class="col-md-3">
      <div class="card dashboard-card">
          <h5>Total Transfers</h5>
          <hr>
          <span>{{ transfer.total }}</span>
        </div>
  </div>

  <div class="col-md-3">
      <div class="card dashboard-card">
          <h5>Successful Transfers</h5>
          <hr>
          <span>{{ transfer.paid }}</span>
        </div>
  </div>

  <div class="col-md-3">
      <div class="card dashboard-card">
          <h5>Failed Transfers</h5>
          <hr>
          <span>{{ transfer.failed }}</span>
        </div>
  </div>

  <!-- <div class="col-md-3">
      <div class="card dashboard-card">
          <h5>Pending</h5>
          <hr>
          <span>{{ transfer.pending }}</span>
        </div>
  </div> -->

</div>

<!-- <h3>SUBSCRIPTIONS</h3>
<br>

<div class="row" *ngIf="subscriptions$ | async as subscriptions">
    <div class="col-md-3">
        <div class="card dashboard-card">
            <h5>Total</h5>
            <hr>
            <span>{{ subscriptions.total }}</span>
          </div>
    </div>
  
    <div class="col-md-3">
        <div class="card dashboard-card">
            <h5>Successful</h5>
            <hr>
            <span>{{ subscriptions.paid }}</span>
          </div>
    </div>
  
    <div class="col-md-3">
        <div class="card dashboard-card">
            <h5>Failed</h5>
            <hr>
            <span>{{ subscriptions.failed }}</span>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card dashboard-card">
            <h5>Pending</h5>
            <hr>
            <span>{{ subscriptions.pending }}</span>
          </div>
    </div>
</div> -->
