<div class="page-ath-wrap">
    <div class="page-ath-content" [ngSwitch]="loading$ | async">

        <div class="page-ath-form" *ngSwitchCase="false">
            <img src="../../../dashboard/assets/img/BMT_lg.png" alt="logo" width="50%" style="margin-left: 25%; margin-bottom: 3%">
            <h5 class="page-ath-heading">Sign Up</h5>

            <div *ngIf="alert$ | async as alert">
                <div class="lazy-alert" *ngIf="alert.toggle">
                    <span>{{ alert.message }}</span>
                </div>
            </div>

            <form [formGroup]="signupForm">
                <div class="input-item">
                    <input type="text" placeholder="Your Fullname" class="input-bordered" formControlName="fullname"
                        [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
                </div>

                <div *ngIf="submitted && f.fullname.errors" class="alert alert-danger">
                    <div *ngIf="f.fullname.errors.required">Fullname Name is required</div>
                </div>


                <div class="input-item">
                    <input type="tel" placeholder="Your Phone Number" class="input-bordered" formControlName="phone"
                        maxlength="10" pattern="[0-9]*" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"> 
                </div>
                <div *ngIf="submitted && f.phone.errors" class="alert alert-danger">
                    <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                    <div *ngIf="f.phone.errors.pattern">Phone Number is invalid</div>
                    <div *ngIf="f.phone.errors.minlength">Phone Number is not accurate</div>
                </div>

                <div class="input-item">
                    <input type="email" placeholder="Your Email" class="input-bordered" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                </div>
                <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                <!-- <a href="../"></a> -->

                <!-- <div class="input-item">
                        <select formControlName="country">
                            <option value="country.nationality" *ngFor="let country of countries">
                                {{ country.nationality }}
                            </option>
                        </select>
                    </div> -->

                <div class="input-item">
                    <input [type]="passwordType" placeholder="Password" class="input-bordered" formControlName="password" id="input"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                       

                        <!-- <input type="checkbox" id="toggle-button-checkbox"> -->

                </div>
                <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    <!-- <div *ngIf="f.password.errors.pattern">Email must be a valid email address</div> -->
                </div>
                    <div class="input-item">
                        <input type="checkbox" style="width: 13px;height: 13px;" class="input-bordered" formControlName="checkbox" (click)="showPassword()"> <span>&nbsp;&nbsp;Show Password</span> 
                        <P style="color: #32CD32">Password must be at least 6 characters</P>
                    </div>
                <div class="input-item">
                    <input type="password" placeholder="Repeat Password" class="input-bordered"
                        formControlName="repeatPassword"
                        [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }">
                </div>

                <div *ngIf="submitted && f.repeatPassword.errors" class="alert alert-danger">
                    <div *ngIf="f.repeatPassword.errors.required">Verify your password</div>
                    <div *ngIf="f.repeatPassword.errors.mustMatch">Passwords must match</div>
                    <!-- password !== repeatPassword -->
                </div>

                <button style=" border: none; outline: none" class="btn btn-primary btn-block" (click)="signup()">
                    Create Account
                </button>

            </form>

            <ul class="row guttar-20px guttar-vr-20px">

            </ul>
            <div class="gaps-2x"></div>
            <div class="gaps-2x"></div>
            <div class="form-note">Already have an account ? <a routerLink="../login">
                    <strong>Sign In </strong></a></div>
        </div>

        <div class="page-ath-form" *ngSwitchCase="true">
            <div class="loader"></div>
        </div>

        <div class="page-ath-footer">
            <ul class="footer-links">

                <li>&copy; 2019 Bsystems Limited</li>
            </ul>
        </div>
    </div>
    <div class="page-ath-gfx">
        <div class="w-100 d-flex justify-content-center">

        </div>
    </div>
</div>