
<div class="inputs-container" *ngIf="!(loading$ | async)">
    <h2>Create Subscription</h2>
    <hr>
    <app-subscriptions-form (formEvent)="onFormChange($event)"></app-subscriptions-form>
    <button (click)="save()">Send</button>

</div>
  
  
<!-- <div class="spinner-container" *ngIf="loading$ | async">
    <span>Sending request..</span>
    <div class="loader">Loading...</div>
</div> -->