
    <div class="page-ath-wrap">
      <div class="page-ath-content">
    
          <div class="page-ath-form" [ngSwitch]="loading$ | async">
              <img src="../../../dashboard/assets/img/BMT_lg.png" alt="logo" width="50%" style="margin-left: 25%; margin-bottom: 10%">
              <h2 class="page-ath-heading">Forgot Password</h2>
              <!-- <img src="../../../assets/icons/themify-icons/themify-icons.css" alt=""> -->

              
              <div *ngIf="alert$ | async as alert">
                <div *ngIf="alert.toggle" class="error-lable">
                  <p>{{ alert.message }}</p>
                </div>
              </div>

              <br>

              <div class="loader" *ngSwitchCase="true"></div>

              <div [formGroup]="formGroup">
                
                <div class="input-item"> 
                  <!-- <label for=""> <h5>Enter your current password</h5></label> -->
                   Enter your email address and instructions will be sent to you.
                </div>

                  <div class="input-item">
                      <!-- <label for=""> <h5>Enter your current password</h5></label> -->
                    <input 
                      type="email" 
                      placeholder="Enter your email address" 
                      class="input-bordered" 
                      formControlName="email"
                      [ngClass]="{'required': formGroup.controls['email'].touched && formGroup.controls['email'].invalid}" 
                      style="height:40px"
                    >
                  </div>

                  <!-- <div class="d-flex justify-content-between align-items-center">
                      <div 
                        class="input-item text-left">
                        <input 
                          class="input-checkbox input-checkbox-md" 
                          id="remember-me" 
                          type="checkbox"
                          formControlName="remember"
                        >
                      </div>
                      <div><a href="forgot.html">Return to login?</a>
                          <div class="gaps-2x"></div>
                      </div>
                  </div> -->

                  <button
                    *ngSwitchCase="false"
                    class="btn btn-primary btn-block" 
                    (click)="forgotpassword()">Send reset password
                  </button>


                </div>
                
              <!-- <div class="sap-text"><span>Or Sign In With</span></div> -->
              <ul class="row guttar-20px guttar-vr-20px">
                  <!-- <li class="col"><a href="#" class="btn btn-outline btn-dark btn-facebook btn-block"><em class="fab fa-facebook-f"></em><span>Facebook</span></a></li>
                  <li class="col"><a href="#" class="btn btn-outline btn-dark btn-google btn-block"><em class="fab fa-google"></em><span>Google</span></a></li> -->
              </ul>
              <div class="gaps-2x"></div>
              <div class="gaps-2x"></div>
              <!-- <div class="form-note">Don’t have an account? <a href="http://bulkmoneytransfer.com/signup/"> <strong>Sign up</strong></a></div> -->
          </div>


          <div class="page-ath-footer">
              <ul class="footer-links">
                  <!-- <li><a href="regular-page.html">Privacy Policy</a></li>
                  <li><a href="regular-page.html">Terms</a></li> -->
                  <li style="text-align: center">&copy; 2019 Bsystems Limited.</li>
              </ul>
          </div>
      </div>
      <div class="page-ath-gfx">
          <div class="w-100 d-flex justify-content-center">
              <!-- <div class="col-md-8 col-xl-5"><img src="images/bg-image.jpg" alt="image"></div> -->
          </div>
      </div>
  </div>
