<div class="container" style="margin-top:-114px">

  <br>
  <br>

 

  <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-3 col-lg-3">
                     <img 
                      style="margin-top:10px" 
                      src="../../../../assets/images/pending.png" 
                      width="35px"  
                      alt="Pending"
                    > 
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 " style="margin-left:-20%">
                      <!-- <select (change)="onHistoryChange($event)">
                          <option value="none">Select here</option>
                          <option [value]="history._id" *ngFor="let history of history$ | async">
                              {{ history.name }}
                          </option>
                      </select> -->
                      <h1 style="margin-top:3%"><b>List of Invoice</b></h1>
              </div>
              <!-- <div class="col-md-3"></div> -->
              <div class="col-md-3 col-sm-3 col-lg-3 pull-right" style="margin-left:27.5%">
                      <!-- <button [routerLink]="['new']"  style="
                      background: #9c8f8f;
                      border-color: #9c8f8f;
                  ">
                              <span class="fa fa-user "></span>
                              create users
                          </button> -->
              </div>
          </div>
      </div>
      
    


  <br>


  <br>
  <!-- <div class="alert alert-success" role="alert" *ngIf="(transfers$ | async)?.length == 0">
    <h3 style="color:azure"><b>You have no pending payments</b></h3>
  </div> -->
  <div class="row" >
          <div class="col-12">
              <div class="card"                                                                   >
                  <div  class="card-header" style="padding-bottom:21px">
          </div>
                <div class="card-content collapse show" > 
                      <div class="card-body inputs-container" >
                        
                          <div class="table-responsive scrol-cont" >
                              <table class="table table-bordered"  >
                               
                                      <thead class="">
                                          <tr>
                                              <th>#</th>
                                              <th>Transaction Date</th>
                                              <th>Transaction Time</th>
                                              <th>Total Amount</th>
                                             
                                              <th>Payer</th>
                                              <th>View</th>
                                              
                                          </tr>
                                      </thead>
                                  <tbody >
                                      <tr *ngFor="let transfer of transfers$ | async; let i=index">
                                          <th scope="row">{{i+1}}</th>
                                          <td>
                                             {{ transfer.createdAt | date }}
                                         </td>
                                          <td>
                                             {{ transfer.createdAt | date:'shortTime' }}
                                          </td>
                                          <td>
                                            {{ transfer.amount | currency: 'GHS' }}
                                          </td>
                                          <td>
                                            {{ transfer.getAccountName() }}
                                          </td>
                                          <td>
                                            <button
                                            (click)="selected=transfer"
                                            data-toggle="modal" 
                                                data-target="#details"
                                            class="remove-button btn-sm" style="margin-top:-6%; border-radius:21px;width:40px;height:10px;background: blue"
                                        >
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                        
                                    </td>
                                          
                                      </tr>
                                      
                                  </tbody>
                              </table>

                              <!-- <div class="loader" *ngSwitchCase="true"></div> -->
                          </div>
                      </div>
                  </div> 

                  


              </div>

              <div 
            class="modal fade" 
            id="details" tabindex="-1" 
            role="dialog" 
            aria-labelledby="Transfer Details" 
            aria-hidden="true"
        >

            <div class="modal-dialog modal-sm" role="document" *ngIf="selected">
                <div class="modal-content">
                    <div class="modal-header">
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="modal" 
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body scrol-modal">

                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="modal-title"><b>{{ selected.getUser('company_name') }}</b></h5>
                          <!-- <hs4 class="modal-title">Status: <b>{{ selected.invoice_paid ? 'paid' : 'Pending Payment' }}</b></hs4> -->
                          <h4 class="modal-title" *ngIf="selected.invoice_paid">Date Paid: <b>{{ selected.date_invoiced_paid }}</b></h4>
                        </div>
                      </div>

                      <br>

                      <table class='table borderless '>
                        <h4>Bank Transfers</h4>
                       
                        <tr>
                          <td>Number of transfers</td>
                          <td>{{ selected.totalBankTransfers }}</td>
                        </tr>
                        <tr>
                          <td>Transfer Amount</td>
                          <td>{{ selected.totalBankTransferAmount | currency:'GHS ' }}</td>
                        </tr>
                        <br><br>
                        <h4>Mobile money Transfers</h4>
                        <tr>
                          <td>Number of transfers</td>
                          <td>{{ selected.totalMomoTransfers }}</td>
                        </tr>
                        <tr>
                          <td>Transfer Amount</td>
                          <td>{{ selected.totalMomoTransferAmount | currency:'GHS ' }}</td>
                        </tr>
                        <br><br>
                        <h4>Total Transfers</h4>
                        <tr>
                          <td>Number of transfer</td>
                          <td>{{ selected.total_transfer_count }}</td>
                        </tr>
                        <tr>
                          <td>Failed</td>
                          <td>{{ selected.tfailed }}</td>
                        </tr>
                        <tr>
                          <td>Successful</td>
                          <td>{{ selected.tsuccessful }}</td>
                        </tr>
                        <tr>
                          <td>Transfer Amount</td>
                          <td>{{ selected.totalTransferAmount | currency:'GHS '}}</td>
                        </tr>
                        <tr>
                          <td>Recceived amount</td>
                          <td>{{ selected.totalReceived | currency:'GHS ' }}</td>
                        </tr>
                       
                      </table>
                    </div>
                    
                    <button 
                      *ngIf="(user$ | async)?.account_type === 'bsystems-admin'"
                    (click)="pay()"
                    style="
                      margin: 10px;
                    ">pay</button>

                    </div>
                </div>
            </div>
        </div>

          </div>
        


         
</div>

 



