<div class="inputs-container">
    <div class="back-button">
        <button (click)="back()">
            <i class="fa fa-long-arrow-left"></i>
        </button>
        <div id="label">Transaction Details</div>
    </div>

    <hr>

    <div [ngSwitch]="onTransaction">

        <div *ngSwitchCase="false">
            <div
                class="transfer-list-item" 
                *ngFor="let transaction of transactions$ | async; let i = index;"
                (click)="toggleTransaction(transaction)">
                <div class="name-cont">
                    <span>{{ i + 1 }}</span>
                    <span class="name">{{ transaction.paymentAccount.name }}</span>
                </div>
                <p>
                    <span class="status"
                        [class.status-pending]="transaction.status === 'pending'"
                        [class.status-failed]="transaction.status === 'failed'"
                        [class.status-paid]="transaction.status === 'paid'"
                    >{{ transaction.status }}</span>
                    <span class="fa fa-angle-right"></span>
                </p>
                <br>
            </div>

        </div>

        <div *ngSwitchCase="true">
            <div *ngIf="transaction$ | async as transaction">
                <h4>Recipient Details</h4>
                <p>
                    <span>Name:</span>
                    <span>{{ transaction.paymentAccount.name }}</span>
                </p>
                <p>
                    <span>Phone</span>
                    <span>{{ transaction.paymentAccount.wallet }}</span>
                </p>
                <p>
                    <span>Network</span>
                    <span
                        [class.mtn]="transaction.paymentAccount.network === 'mtn-gh'"
                        [class.vodafone]="transaction.paymentAccount.network === 'vodafone-gh'"
                        [class.vodafone]="transaction.paymentAccount.network === 'airtel-gh'"
                        [class.tigo]="transaction.paymentAccount.network === 'tigo-gh'"
                        style="color: #fff"
                    >{{ transaction.paymentAccount.network }}</span>
                </p>
                <p>
                    <span>Description</span>
                    <span>{{ transaction.paymentAccount.description }}</span>
                </p>
    
                <br>
                <h4>Payment Details</h4>
                <hr>
                <p>
                    <span>Amount</span>
                    <span>{{ transaction.amount | currency: 'Ghs' }}</span>
                </p>
                <p>
                    <span>Transaction Date</span>
                    <span>{{ transaction.createdAt | date }}</span>
                </p>
                <p>
                    <span>Transaction Status</span>
                    <span
                        [class.status-failed]="transaction.status === 'failed'"
                        [class.status-paid]="transaction.status === 'paid'"
                        [class.status-pending]="transaction.status === 'pending'"
                        style="color: #fff"
                    >{{ transaction.status }}</span>
                </p>
    
                <div *ngIf="transaction.creditStatus">
                    <br>
                    <h4>Transaction Status</h4>
                    <hr>
                    <p>
                        <span>Response Code</span>
                        <span>{{ transaction.creditStatus.ResponseCode }}</span>
                    </p>
                    <p>
                        <span>Message</span>
                        <span>{{ transaction.getCreditStatus() }}</span>
                    </p>
                </div>
            </div>
        </div>

    </div>




</div>