.back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button {
        background: transparent;
        width: auto;

        i {
            color: #4285F4;
            font-size: 30px;
        }

    }

    #label {
        flex: 1;
        margin-left: 20px;
    }

}


.transfer-list-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border-bottom: solid thin #eee;
    padding-bottom: 5px;
    cursor: pointer;

    .name-cont {
        flex: 1;
        align-items: center;
        flex-direction: row;

        .name {
            color: #000;
            margin-left: 10px;
        }

    }



    .seperator {
        flex: 1;
        color: rgb(132, 174, 241);
        font-size: 10px;
    }

    .pending {
        color: rgb(97, 97, 111);
        font-weight: bold;
    }

    .failed {
        color: rgb(253, 101, 101);
        font-weight: bold;
    }

    .paid {
        color: rgb(10, 112, 56);
        font-weight: bold;
    }

    .status {
        font-size: 12px;
    }


}



p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span:last-child {
        margin-left: 10px;
        font-size: 15px;
        color: rgb(54, 122, 248);
        font-weight: bold;
    }
}


.active {
    background: rgb(116, 163, 238);
    padding: 5px;
    color: white;
}