
<div class="container">
    <div class="row">
        <ul
            class="message-cont"
        >
            <li class="row">
                    <div class="col-md-11">
                        <span class="message">
                                You might also want to add margin:0; padding:0; to that, if you want to remove indentation as well. You can see in the code above that I have applied the same CSS rule to ‘li`s’ as well to make it work in IE9 too.
                        </span>
                        <p>3 days ago</p>
                    </div>
                    <div class="col-md-1">
                        <div
                            class="icon-cont"
                        >
                            <span class="fa fa-chevron-right"></span>
                        </div>
                    </div>
            </li>
        </ul>
    </div>
</div>