.message-cont {
    margin: 20px;
    list-style-type: none;

    li {
        border-bottom: solid thin #eee;
        padding: 10px 0 20px 0;
        cursor: pointer;
        transition: all 0.08s ease-in;

        .message {
            font-size: 20px;
        }

        p {
            color: rgb(70, 117, 187);
            font-weight: bold;
        }

        .icon-cont {
            margin: 10px;
            
            .span {
                color: #ddd;
            }
        }

    }

    li:hover {
        opacity: 0.8;
        transform: scale(1.1)
    }
}