<div class="container" style="margin-top:-114px">

  <br>
  <br>

 

  <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-3 col-lg-3">
                     <img style="margin-top:10px" src="../../../../dashboard/assets/images/pending.png" width="35px"  alt="Pending"> 
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 " style="margin-left:-20%">
                      <!-- <select (change)="onHistoryChange($event)">
                          <option value="none">Select here</option>
                          <option [value]="history._id" *ngFor="let history of history$ | async">
                              {{ history.name }}
                          </option>
                      </select> -->
                      <h1 style="margin-top:3%"><b>List of Invoice</b></h1>
              </div>
              <!-- <div class="col-md-3"></div> -->
              <div class="col-md-3 col-sm-3 col-lg-3 pull-right" style="margin-left:27.5%">
                      <!-- <button [routerLink]="['new']"  style="
                      background: #9c8f8f;
                      border-color: #9c8f8f;
                  ">
                              <span class="fa fa-user "></span>
                              create users
                          </button> -->
              </div>
          </div>
      </div>
      
    


  <br>


  <br>
  <!-- <div class="alert alert-success" role="alert" *ngIf="(transfers$ | async)?.length == 0">
    <h3 style="color:azure"><b>You have no pending payments</b></h3>
  </div> -->
  <div class="row" >
          <div class="col-12">
              <div class="card"                                                                   >
                  <div  class="card-header" style="padding-bottom:21px">
                    
                    
          </div>
                <div class="card-content collapse show" > 
                      <div class="card-body inputs-container" >
                        
                          <div class="table-responsive" >
                              <table class="table table-bordered"  >
                               
                                      <thead class="">
                                          <tr>
                                              <th>#</th>
                                              <th>Transaction Date</th>
                                              <th>Transaction Time</th>
                                              <th>Total Amount</th>
                                              <th>Payer</th>
                                              <th>View</th>
                                              
                                          </tr>
                                      </thead>
                                  <tbody >
                                      <tr >
                                     
                                          <th scope="row">1</th>
                                          <td>
                                             12/02/2020
                                         </td>
                                          <td>
                                             16:28
                                          </td>
                                          <td>
                                            32
                                          </td>
                                          <td>
                                            Kwame Test
                                          </td>
                                          
                                          <td>
                                            <button
                                            
                                            data-toggle="modal" 
                                                data-target="#details"
                                            class="remove-button btn-sm" style="margin-top:-6%; border-radius:21px;width:40px;height:10px;background: blue"
                                        >
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                        
                                    </td>
                                          
                                      </tr>
                                      
                                  </tbody>
                              </table>

                              <!-- <div class="loader" *ngSwitchCase="true"></div> -->
                          </div>
                      </div>
                  </div> 

                  


              </div>

              <div 
            class="modal fade" 
            id="details" tabindex="-1" 
            role="dialog" 
            aria-labelledby="Transfer Details" 
            aria-hidden="true"
        >

            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>COMPANY NAME</b></h5>
                            <button 
                                type="button" 
                                class="close" 
                                data-dismiss="modal" 
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                      <table class='table borderless'>
                        <h4>Bank Transfers</h4>
                       
                        <tr>
                          <td>Number of transfers</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <td>Transfer Amount</td>
                          <td>5</td>
                        </tr>
                        <br><br>
                        <h4>Mobile money Transfers</h4>
                        <tr>
                          <td>Number of transfers</td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td>Transfer Amount</td>
                          <td>7</td>
                        </tr>
                        <br><br>
                        <h4>Total Transfers</h4>
                        <tr>
                          <td>Number of transfer</td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td>Transfer amount</td>
                          <td>5</td>

                        </tr>
                        
                        <tr>
                          <td>Status</td>
                          <td><button class="btn btn-success">Paid</button></td>
                        </tr>
                      </table>
                      


                                </div>


                    </div>
                </div>
            </div>
        </div>

          </div>
        


         
</div>

 



