<div class="inputs-container container" [formGroup]="formGroup" style="margin-top:-39px" [ngSwitch]="loading$ | async">

    <h4>Topup your Prepaid</h4>
    <div class="row padding-top">
        <!-- <div class="col-md-12">
            <span style="font-size: 20px;"><b>Paid Charges</b>: </span>
            <strong style="font-size: 20px;">{{ prepaid }}</strong>
        </div> -->
    </div>

    <hr style="margin-top:3px;margin-bottom:-3px">
    <br>

    <div class="loader" *ngSwitchCase="true"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Enter Amount | Gh₵</label>
                <input type="amount" class="form-control" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"  >
                <div *ngIf="submitted && f.amount.errors" class="invalid" style="color: red">
                    <div *ngIf="f.amount.errors.required">Amount is required</div>
                    <div *ngIf="f.amount.errors.pattern">Amount is invalid</div>
                    <!-- <div *ngIf="f.phone.errors.minlength">Phone Number is not accurate</div> -->
                </div>
            </div>
        </div>
        <!-- <img src="../../../../assets/img/networks/airtel.png" alt=""> -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="input-label" style="margin-top:-5px">
                <span>Select Payment Method</span>
                <select (change)="onPaymentType($event)">
                    <option value="none">Select here</option>
                    <option value="manual">Enter Sender's Number</option>
                    <option value="auto">Use Wallet Account</option>
                    <!-- <option value="card-account">Card Payment</option> -->
                </select>
            </div>
        </div>
    </div>

    <br>

    <div class="row" *ngIf="paymentType === 'manual'">
        <div class="col-md-12">
            <div>
                <!-- <div class="input-label" style="margin-top:-20px">
                    <span>Select Network</span>
                    <app-check-image [data]="networks" (onChange)="networkChange($event)"
                        style="margin-top: -25px;margin-bottom: -25px" [ngClass]="{ 'is-invalid': submitted && formGroup.get('payment').get('network').errors }">
                    </app-check-image>
                    <div *ngIf="submitted && formGroup.get('payment').get('network').errors" class="invalid" style="color: red">
                        <div *ngIf="formGroup.get('payment').get('network').errors.required">Select atleast one mobile network</div>
                    </div>
                </div> -->
                <div class="input-label" style="margin-top:-20px">
                    <span>Select Account Issuer</span>
                    <select formControlName="account_issuer">
                        <option [value]="issuer.id" *ngFor="let issuer of issuers$ | async;">
                            {{ issuer.name }}
                        </option>
                    </select>
                </div>

                <div class="input-label">
                    <span>
                        Enter Sender's Number
                    </span>
                    <input type="text" formControlName="account_number" maxlength="17"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get('account_number').errors }">
                        <div *ngIf="submitted && formGroup.get('account_number').errors" class="invalid" style="color: red">
                            <div *ngIf="formGroup.get('account_number').errors.required">Enter mobile money wallet</div>
                            <div *ngIf="formGroup.get('account_number').errors.pattern">Mobile money wallet is invalid</div>
                            <div *ngIf="formGroup.get('account_number').errors.minlength">Mobile money wallet is not accurate</div>
                            <!-- <div *ngIf="f.phone.errors.minlength">Phone Number is not accurate</div> -->
                        </div>
    
                </div>

                <div class="input-label" *ngIf="isNetworkVodafone">
                    <span>Enter your voucher code for vodafone cash, Vodafone requires that you generate a voucher code
                        by dialing *110#</span>
                    <input type="text" formControlName="voucherCode">
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row" *ngIf="paymentType === 'auto'">
        <div class="col-md-12">
            <div class="input-label" style="margin-top:-41px">
                <span>Select Wallet Account</span>
                <select (change)="onPaymentAccount($event)" >
                    <option value="none">Select here</option>
                    <option [value]="account._id" *ngFor="let account of accounts$ | async">
                        {{ account.name }}
                    </option>
                </select>
            </div>
            <!-- <div class="input-label" *ngIf="isNetworkVodafone" formGroupName="payment">
                <span>Enter your voucher code for vodafone cash, Vodafone requires that you generate a voucher code by
                    dialing *110#</span>
                <input type="text" formControlName="voucherCode">
            </div> -->
        </div>
    </div>

    <br>
    <div *ngIf="paymentType === 'card-account'">
        <app-theteller (process)="processPayment($event)"></app-theteller>
    </div>

    <div class="row" *ngIf="paymentType !== 'card-account' && paymentType !== 'none'">
        <div class="col-md-12" *ngSwitchCase="false">
            <button (click)="topup()" style="margin-top:-15px">Topup</button>
        </div>
    </div>

    <!-- <div class="row">
            <div class="col-md-12">
                <button
                    (click)="topup()" style="margin-top:-15px"
                >Topup</button>
            </div>
        </div> -->



</div>