<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div 
                style="
                    width: 100px; 
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 20vh;
                "
                >

                <img 
                    src="../../../assets/img/loader.gif" 
                    alt=""
                    height="100%"
                    width="100%"
                >

            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 100px;">
        <div class="col-md-12">
            <p
                style="
                    text-align: center;
                    font-size: 15px;
                "
            >Please wait whiles we are  processing your transaction...</p>
            <p
                style="
                    text-align: center;
                    color: #ddd;
                "
            >Bsystems Limited 2019</p>
        </div>
      </div>
    </div>
  <!-- </div> -->



<!-- </div> -->
