
 <div class="row" style="margin-top:40px">
        <div class="">
        <div class="col-md-12" style="
        width: 35vw;
        margin-left: -9px;
    ">
        <ng-payment-card 
            ccNumMissingTxt='Please provide card number'
            cardExpiredTxt='Payment card has expired'
            (formSaved)="processPayment($event)"
        >
        </ng-payment-card>
    </div>
    </div>
    

</div> 

<!-- <ng-payment-card></ng-payment-card> -->

<!-- Setting custom validation messages -->
<!-- <ng-payment-card
  [ccNumMissingTxt]='Please provide card number'
  [cardExpiredTxt]='Payment card has expired'>
</ng-payment-card> -->

<!-- // Handling event emitter -->
<!-- <ng-payment-card
  (formSaved)="processPayment(cc)">
</ng-payment-card> -->
<!-- <div class="card-container" style="margin-top:-70px " ></div>
<form card
  container=".card-container"
  card-width="300"
  [messages]="messages"
  [placeholders]="placeholders"
  [masks]="masks"
  formatting="false"
  debug="true">
<br>
<br>
<div style="margin-top:-25px">
  <input type="text" name="number" placeholder="Enter card number" card-number/>
  <input type="text" name="first-name" placeholder="Enter first name" card-name/>
  <input type="text" name="last-name" placeholder="Enter last name" card-name/>
  <input type="text" name="expiry" placeholder="Enter expiry date" card-expiry/>
  <input type="text" name="cvc" card-cvc/>
</div>
</form> -->