<div class="page-ath-wrap">
  <div class="page-ath-content">
    <div class="page-ath-form">
      <img src="../../../assets/img/BMT_lg.png" alt="logo" width="50%"
        style="margin-left: 25%; margin-bottom: 10%;" />
      <h2 class="page-ath-heading">Sign In</h2>

      <div *ngIf="alert$ | async as alert">
        <div *ngIf="alert.toggle" class="error-lable">
          <p>{{ alert.message }}</p>
        </div>
      </div>

      <br />

      <div [formGroup]="formGroup" (keyup.enter)="login()">
        <div class="input-item">
          <input type="text" placeholder="Your Email" class="input-bordered" formControlName="email" [email]="true"
            [ngClass]="{
              required:
                formGroup.controls['email'].touched &&
                formGroup.controls['email'].invalid
            }" style="height: 40px;" />
          <div class="alert alert-danger" style="margin-top: 10px;" *ngIf="
              formGroup.controls['email'].touched &&
              formGroup.controls['email'].invalid
            ">
            Valid email is required
          </div>
        </div>
        <div class="input-item">
          <input 
            type="password" 
            placeholder="Password" 
            class="input-bordered" 
            formControlName="password" 
            [ngClass]="{
              required:
                formGroup.controls['password'].touched &&
                formGroup.controls['password'].invalid
            }" style="height: 40px;" />
          <div class="alert alert-danger" style="margin-top: 10px;" *ngIf="
              formGroup.controls['password'].touched &&
              formGroup.controls['password'].invalid
            ">
            Password is required
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="input-item text-left">
            <input class="input-checkbox input-checkbox-md" id="remember-me" type="checkbox"
              formControlName="remember" />
            <label for="remember-me">Remember Me</label>
          </div>
          <div>
            <a routerLink="../forgotpassword">Forgot password?</a>
            <div class="gaps-2x"></div>
          </div>
        </div>
        <button *ngIf="!(loading$ | async)" class="btn btn-primary btn-block" (click)="login()">
          Sign In
        </button>
        <div class="spinner-container" *ngIf="loading$ | async">
          <div class="loader">Loading...</div>
        </div>
      </div>

      <!-- <div class="sap-text"><span>Or Sign In With</span></div> -->
      <ul class="row guttar-20px guttar-vr-20px">
        <!-- <li class="col"><a href="#" class="btn btn-outline btn-dark btn-facebook btn-block"><em class="fab fa-facebook-f"></em><span>Facebook</span></a></li>
                  <li class="col"><a href="#" class="btn btn-outline btn-dark btn-google btn-block"><em class="fab fa-google"></em><span>Google</span></a></li> -->
      </ul>
      <div class="gaps-2x"></div>
      <div class="gaps-2x"></div>
      <div class="form-note">
        Don’t have an account?
        <a routerLink="../signup"> <strong>Sign up</strong></a>
      </div>
    </div>

    <div class="page-ath-footer">
      <ul class="footer-links">
        <!-- <li><a href="regular-page.html">Privacy Policy</a></li>
                  <li><a href="regular-page.html">Terms</a></li> -->
        <li style="text-align: center;">&copy; 2019 Bsystems Limited.</li>
      </ul>
    </div>
  </div>
  <div class="page-ath-gfx">
    <div class="w-100 d-flex justify-content-center">
      <!-- <div class="col-md-8 col-xl-5"><img src="images/bg-image.jpg" alt="image"></div> -->
    </div>
  </div>
</div>
<!-- JavaScript (include all script here) -->