<app-transfers-table></app-transfers-table>

<app-transaction-list-grid>
    <app-transaction-list></app-transaction-list>
</app-transaction-list-grid>

<app-sidebar-wide>
    <app-add-transfer></app-add-transfer>
</app-sidebar-wide>