<div class="container">
<div class="row">
    <div class="col-md-12" style="margin-top:-35px">
            <button class="picker-button"
            (click)="back()"
        >
            <span class="fa fa-arrow-left"> Back</span>
        </button>
    </div>

</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
                
                        <button class="picker-button"
                            (click)="picker.click()"
                        style="width:138px;background: #2e9cf7">
                            <span class="fa fa-upload"></span>
                            Upload CSV
                        </button>
                        <input
                            type="file" 
                            #picker 
                            (change)="onCSVChange($event)"
                            style="display: none;"
                        >
                    
        </div>
        <div class="col-md-7" style="margin-left:-8%">
              
        </div>
        <div class="col-md-2 " *ngIf="activate">
                <button
                    class="picker-button pull-right"
                    (click)="save()" 
                >
                <i class="fa fa-save"></i> 
                save
                </button>
            </div>
    </div>
</div>

<div class="card-header" style="padding-bottom:0px">
        <div class="row">
            <div class="col-md-6">
        <h4 class="card-title" style="margin-top:10px"><b>Recipient(s)</b></h4>
            </div>

            <div class="col-md-3">
                    <button
                    class="picker-button"
                    (click)="addOne()" style="background-color:#9c8f8f;"
                    >
                    <i class="fa fa-user"></i> Add One Recipient
                    </button>
                    </div>
            <div class="col-md-3">
        <button
class="picker-button"
(click)="addMore()" style="background-color:#9c8f8f"
><i class="fa fa-users"></i> Add More Recipients</button>
</div>

</div>    
    </div>

