<!-- <div class="container"> -->

    <div class="row filter-container" style="
    margin-top: -40px;">
        <date-filter
          (dateChange)="onDateChange()"
        ></date-filter>
      
        <div col-md-3>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        </div>
        

        
            <div class="row">
                <div class="col-12">
                    <div class="card" >
                        
                        <div class="card-content collapse show">
                            <div class="card-body inputs-container"  *ngIf="!(loading$ | async)">
                                
                                <div class="table-responsive"  >
                                    <table class="table table-bordered" >
                                        <thead>
                                            <tr >
                                                <th>#</th>
                                                <th>Account Type</th>
                                                <th>Account Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Date Created</th>
                                                <th>Last Seen</th>
                                                <th>Credit (GHS)</th>
                                                <th>Blocked</th>
                                                
                                            </tr>
                                            
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of users$ | async | paginate: { itemsPerPage: 25, currentPage: p }; let i = index">
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>{{ user.account_type }}</td>
                                                <td>{{ user.fullname}}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.phone }}</td>
                                                <td>{{ user.createdAt | date }}</td>
                                                <td>{{ user.last_seen | date }}</td>
                                                <td>{{ user.credit | currency:'GHS' }}</td>
                                                <td>{{ user.blocked ? 'YES' : 'NO' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                   
                                  </div>
                                  <div class="loader" *ngIf="loading$ | async">Loading...</div> 
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        
        

