.inputs-container {
    height: 70vh;
    overflow-y: scroll;
}

@media only screen and (min-width: 1370px) {
    .inputs-container {
        height: 70vh;
        overflow-y: scroll;
    }
    .buton{
        height:53px !important;
        width: 190px;
    }
    
}
@media only screen and (min-width: 1920px) {
    .inputs-container {
        height: 70vh;
        overflow-y: scroll;
    }
    .buton{
        height:53px !important;
        width: 190px;
    }
}
