
<!-- <div class="container-fluid">

    <app-navbar></app-navbar>
    <hr> -->
    <!-- <app-lazy-alert></app-lazy-alert> -->
<!-- 
    <div class="row">
        <div class="col-md-2">
            <app-sidebar
                sidebar="sidebar"
            ></app-sidebar>
        </div>
        <div class="col-md-10" style="padding-left:60px">
            <router-outlet></router-outlet>
        </div>
    </div>

</div> -->

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<app-progress-bar></app-progress-bar>
<app-lazy-alert></app-lazy-alert>


    <div class="app-content content ">
      <div class="content-wrapper">
       
        <div class="content-header row">
         
        </div>
        <div class="content-body" style="padding-top: 8rem;">
            <router-outlet></router-outlet>
            </div>