<div class="container" style="margin-top:-109px" [ngSwitch]="loading$ | async">

    <br>
    <br>
   

    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-lg-2">
                <p style="margin-top:3%"><b>Select Favourite</b></p>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-offset-3" style="margin-left:-5%">
                <select (change)="onHistoryChange($event)">
                    <option value="none">Select here</option>
                    <option [value]="history._id" *ngFor="let history of history$ | async">
                        {{ history.name }}
                    </option>
                </select>
            </div>
            <!-- <div class="col-md-3"></div> -->
            <div class="col-md-3 col-sm-3 col-lg-3 pull-right" style="margin-left:27.5%">
                <button [routerLink]="['new']" (click)="clear()" style="
                        background: #9c8f8f;
                        border-color: #9c8f8f;
                    ">
                    <span class="fa fa-heart"></span>
                    create favourite
                </button>
            </div>

        </div>
    </div>
    <div class="alert alert-info" role="alert" *ngIf="!(selected$ | async)" style="margin-top:15px">
        <h4 style="color:azure"><b>Select favourite to edit or create new favourites</b></h4>
    </div>
    <br>


    <br>

    <div class="row">
        <div class="col-12">
            <div class="card" *ngSwitchCase="false">
                <div *ngIf="selected$ | async as favourite" class="card-header" style="padding-bottom:21px">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title"><b>Favourite Name:</b> {{ favourite.name }}</h3>
                        </div>
                        <div class="col-md-4">
                            <h3 class="card-title"><b>Date Created: </b>{{ favourite.createdAt | date: 'medium' }}</h3>
                        </div>
                        <div class=" col-md-2">
                            <button class="float-lg-right" style="margin-left:10px;background:#2e9cf7"
                                (click)="edit(favourite._id)">
                                <span class="fa fa-edit"></span>
                            </button>
                            &nbsp;
                            <button (click)="delete(favourite._id)" class="float-lg-right">
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="card-content collapse show scrol-cont" *ngIf="selected$ | async as favourite">
                        <div class="card-body inputs-container">
                            <div class="table-responsive">
                                <table class="table table-bordered" >
                                    <thead class="">
                                        <tr>
                                            <th>#</th>
                                            <th>Recipient Name</th>
                                            <th>Account Number</th>
                                            <th>Amount</th>
                                            <th>Account Issuer</th>
                                            <th>Description</th>

                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr *ngFor="let account of favourite.accounts; let i = index;">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>
                                                {{account.account_name}}
                                            </td>
                                            <td>
                                                {{account.account_number}}
                                            </td>
                                            <td>
                                                {{account.amount}}
                                            </td>
                                            <td>
                                                {{ account.getIssuer(issuers$ | async) }}
                                            </td>
                                            <td>{{account.description}}</td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </div>



                </div>

            </div>

        </div>


        <div class="loader" *ngSwitchCase="true"></div>

    </div>


</div>