<app-sidebar-wide>
    <div class="inputs-container">
        <h4>Add Role</h4>
        <br>
        <app-admin-user-form (formEvent)="onFormData($event)"></app-admin-user-form>
        <button (click)="save()">Save</button>
    
    </div>
    
    <div class="spinner-container">
        <span>Sending request..</span>
        <div class="loader">Loading...</div>
    </div>
</app-sidebar-wide>