.banner {

    background: rgb(255, 95, 95);
    width: 50%;
    padding: 10px;
    z-index: -1;
    margin: 0 auto;

    p {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }


}
