<!-- <div class="container-fluid">

    <app-internet-connection></app-internet-connection>
    <app-navbar></app-navbar>
    <hr>
    <app-lazy-alert></app-lazy-alert>

    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10" style="padding-left:60px">
            <router-outlet></router-outlet>
        </div>
    </div>

</div> -->

<app-progress-bar></app-progress-bar>
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

    <div class="app-content content ">
      <div class="content-wrapper">
       
        <div class="content-header row">
         
        </div>
        <div class="content-body" style="padding-top: 8rem;">
            <router-outlet></router-outlet>
            </div>
           