<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card  ecom-card-1 bg-white">
            <div class="card-content ecom-card2 height-180">
                <h5 class="text-muted  position-absolute p-1"> <b>Total Transfers</b>  </h5>
                <div>
                    <img src="../../../../assets/img/BMT.png" alt="bmt" class=" float-right p-1" style="width: 50px">
                </div>
                <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3  ">
                    <div id="progress-stats-bar-chart" style="margin-top:10%; margin-left:30%"> <h5> {{ (summary$ | async)?.count }}</h5></div>
                    <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card  ecom-card-1 bg-white">
            <div class="card-content ecom-card2 height-180">
                <h5 class="text-muted  position-absolute p-1"> <b>Total Payments</b></h5>
                <div>
                    <img src="../../../../assets/img/BMT.png" alt="bmt" class=" float-right p-1" style="width: 50px">
                </div>
                <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3  ">
                    <div id="progress-stats-bar-chart" style="margin-top:10%; margin-left:30%"> <h5> {{ (summary$ | async)?.totalPayments | currency: 'GHS ' }} </h5></div>
                    <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card  ecom-card-1 bg-white">
            <div class="card-content ecom-card2 height-180">
                <h5 class="text-muted  position-absolute p-1"> <b>Total Charges</b> </h5>
                <div>
                  <img src="../../../../assets/img/BMT.png" alt="bmt" class=" float-right p-1" style="width: 50px">
                    <!-- <i class="ft-pie-chart danger font-large-1 float-right p-1"></i> -->
                </div>
                <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3  ">
                    <div id="progress-stats-bar-chart" style="margin-top:10%; margin-left:30%"> <h4> {{ (summary$ | async)?.totalCharge | currency: 'GHS ' }}</h4></div>
                    <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                    
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card  ecom-card-1 bg-white">
            <div class="card-content ecom-card2 height-180">
                <h5 class="text-muted  position-absolute p-1"><b>Total Refund</b> </h5>
                <div>
                    <!-- <i class="ft-pie-chart danger font-large-1 float-right p-1"></i> -->
                    <img src="../../../../assets/img/BMT.png" alt="bmt" class=" float-right p-1" style="width: 50px">
                </div>
                <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3  ">
                    <div id="progress-stats-bar-chart" style="margin-top:10%; margin-left:30%"> <h4> {{ (summary$ | async)?.totalRefund | currency: 'GHS ' }}</h4></div>
                    <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card  ecom-card-1 bg-white">
            <div class="card-content ecom-card2 height-180">
                <h5 class="text-muted  position-absolute p-1"><b>Total Users</b> </h5>
                <div>
                    <!-- <i class="ft-pie-chart danger font-large-1 float-right p-1"></i> -->
                    <img src="../../../../assets/img/BMT.png" alt="bmt" class=" float-right p-1" style="width: 50px">
                </div>
                <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3  ">
                    <div id="progress-stats-bar-chart" style="margin-top:10%; margin-left:30%"> <h4> {{ (summary$ | async)?.totalUsers  }}</h4></div>
                    <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>

