 <!-- Example single danger button -->


        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4" style="margin-right:-9%">
                    <span class=""> <b>Search by date</b></span>
                    
                </div>
                 
                <div class="col-md-4">
                    <label for="">Start date</label>
                    <input  class="pull-left"
                    type="date" data-date="" data-date-format="DD MMMM YY"  
                    [(ngModel)]="startDate" 
                    (change)="onStartChange($event)" 
                >
                </div>
                
                <div class="col-md-4">
                    <label for="">End date</label>
                    <input 
                        type="date" 
                        [(ngModel)]="endDate" 
                        (change)="onDateEndChange($event)" 
                        
                    >
                    <!-- <div class="summary-card">
                            <span>Total Transfers</span>
                            <p>{{ (summary$ | async)?.count }}</p>
                          </div> -->
                </div>
            </div>
        </div>
    
        <!-- <div class="col-md-4"> 
            <p></p>
             <input 
                type="date" 
                [(ngModel)]="startDate" 
                (change)="onStartChange($event)"
            >
        </div>
        <div class="col-md-4"> 
            <p></p>
            To:<input 
                type="date" 
                [(ngModel)]="endDate" 
                (change)="onDateEndChange($event)"
            >
        </div> -->
 
    
    
    <br>
    