.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;



    .filters {
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
            background-color: #ddd;
            margin-left: 10px;
            padding: 2px 10px 2px 10px;
        }
    }


    .filters > div > span {
        margin-right: 5px;
    }



    .filters > div:last-child {
        margin-left: 10px;
    }


    .selection-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        select {
            margin-left: 20px;
        }
        
    }


}