
<div class="card" style="
margin-top: -6%;">
    <div class="container" >
   
       <div class="center">
      
       <h3 >    <img src="../../../../assets/images/company.png" width="75px" alt="">Create company</h3>
      </div>

      <div *ngIf="alert$ | async as alert">
        <div *ngIf="alert.toggle" class="error-lable">
          <p>{{ alert.message }}</p>
        </div>
      </div>
        
        
            <div class="row">
                <div class="col-12">
                    <form [formGroup]='formGroup' >
                        <div class="row">
                        <div class="col-md-6 offset-1">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Company name</label>
                          <input type="email" formControlName="company_name" class="form-control"  placeholder="Enter name of company">
                          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                          <label >Company's admin</label>
                          <input type="email" formControlName='fullname' class="form-control"  placeholder="Enter name of administrator">
                          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone number </label>
                            <input type="text" formControlName="phone" class="form-control"  placeholder="Enter company's phone number ">
                          </div>
                          <div class="form-group">
                            <label >Email</label>
                            <input type="text" formControlName="email" class="form-control"  placeholder="Enter email of admin">
                          </div>
                          <div class="form-group">
                            <label >Password</label>
                            <input type="text" formControlName="password" class="form-control"  placeholder="Enter password for company">
                          </div>
                          <div class="form-group">
                            <label >Company Logo</label>
                            <input (change)="onFileSelected($event)" type="file" accept="image/*" style="height: 46px!important;" class="form-control"  placeholder="Upload company logo" #imagePath>
                          </div>
                    </div>
                    <div class="col-md-4">
                      <h4>COMPANY LOGO PREVIEW HERE</h4>
                      <img [src]="formGroup.get('company_logo').value" style="width:300px"  alt="company logo">
                      <!-- <img src="../../../../assets/images/preview.png" alt=""> -->
                    </div>
                    
                </div>
                        <button (click)="onSubmit()" type="submit" class="btn btn-primary" style="margin-left:25%;width:50%;margin-top:35px">Create Company</button>
                      </form>
                </div>
              </div>
            </div>
        

