<div [formGroup]="formGroup">
    <div formArrayName="accounts">


    <div class="card-content collapse show  scrol-cont">
            <div class="card-body inputs-container">
                <div class="table-responsive">
                    <table class="table" >
                            <thead class="">
                                <tr>
                                    <th>#</th>
                                    <th>Recipient Name</th>
                                    <th>Account Number</th>
                                    <th>Amount</th>
                                    <th>Network</th>
                                    <th>Description</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                        <tbody>
                            <tr *ngFor="let account of accounts.controls; let i = index;" [formGroupName]="i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>
                                    <input
                                    type="text"
                                    formControlName="account_name">
                               </td>
                                <td>
                                    <input
                                        class="text"
                                        type="text"
                                        formControlName="account_number"
                                    >
                                </td>
                                <td>
                                    <input
                                       type="text"
                                       formControlName="amount"
                                    >
                                </td>
                                <td>
                                        <select formControlName="account_issuer">
                                                <option
                                                    [value]="issuer.id"
                                                    *ngFor="let issuer of issuers$ | async;">
                                                    {{ issuer.name }}
                                                </option>
                                            </select>
                                </td>
                                <td>
                                        <textarea
                                        formControlName="description"
                                        cols="30"
                                        rows="10">
                                    </textarea>
                                </td>
                                <td>
                                        <button
                                        (click)="removeAccount(i)"
                                        class="remove-button btn-sm" style="margin-top:-6%; border-radius:21px;width:40px;height:10px;background: indianred"
                                    >
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                    
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



        <!-- <div formArrayName="accounts"> 
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="tableinside">#</th>
                        <th class="tableinside">Recipient Name</th>
                        <th class="tableinside">Mobile Money Number</th>
                        <th class="tableinside">Amount</th>
                        <th class="tableinside">Network</th>
                        <th class="tableinside">Description</th>
                        <th class="tableinside">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts.controls; let i = index;" [formGroupName]="i">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <input
                                type="text"
                                formControlName="name"
                            >
                        </td>
                        <td>
                            <input
                                class="phone"
                                type="text"
                                formControlName="wallet"
                                maxlength="10"
                            >
                        </td>
                        <td>
                            <input
                                type="text"
                                formControlName="amount"
                            >
                        </td>
                        <td>
                            <select formControlName="network">
                                <option
                                    [value]="network"
                                    *ngFor="let network of recipientNetworks">
                                    {{ network }}
                                </option>
                            </select>
                        </td>
                        <td>
                            <textarea
                                formControlName="description"
                                cols="30"
                                rows="10">
                            </textarea>
                        </td>
                        <td class="text-center">
                            <button
                                (click)="removeAccount(i)"
                                class="remove-button"
                            >
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->

<!-- </div> --> 