p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.status-description {
    font-size: 16px;
    color: #6d6d6d
}

.inputs-container {
    height: 75vh;
    overflow-y: scroll;
}