<div *ngIf="subscription$ | async as subscription">
    <div *ngIf="subscription._id">
        <div class="labels-cont">
            <h4><strong>Details</strong></h4>
            <!-- <div>
            <button (click)="toggleEdit()">Edit</button>
            <button (click)="delete(subscription['_id'])">Delete</button>
            </div> -->
        </div>
        <hr>
        <!-- <p>
            <span>Package Name</span>
            <span>
                {{ subscription.getPackageName() }}
            </span>
        </p> -->
        <p>
            <span>Prepaid Amount Purchased</span>
            <span>
                {{ subscription.credit | currency: 'GhS' }}
            </span>
        </p>
        <p>
            <span>Amount Paid</span>
            <span>
                {{ subscription.amount | currency: 'GhS' }}
            </span>
        </p>
        <p>
            <span>Status</span>
            <span
                [class.status-pending]="subscription.status === 'pending'"
                [class.status-failed]="subscription.status === 'failed'"
                [class.status-paid]="subscription.status === 'paid'"
                style="color:#fff"
            >
                {{ subscription.status }}
            </span>
        </p>
        <p>
            <span>Time</span>
            <span>
                {{ subscription.getMoment() }}
            </span>
        </p>

        <br>
        <h4>Payment Details</h4>
        <hr>
        <p>
            <span>Account Number:</span>
            <span>{{ subscription.account_number }}</span>
        </p>
        <p>
            <span>Account Issuer</span>
            <span
                style="color: #fff"
            >{{ subscription.account_issuer }}</span>
        </p>

        <div *ngIf="subscription.debitStatus">
            <br>
            <h4>Debit Details</h4>
            <hr>
            <p>
                <span>Response Code</span>
                <span>{{ subscription.debitStatus.ResponseCode }}</span>
            </p>
            <div>
                <p>Message</p>
                <p class="status-description">{{ subscription.getStatus() }}</p>
            </div>
        </div>

    </div>
</div>

<div *ngIf="!(subscription$ | async)?._id">No subscription selected</div>