// .sidebar {
    
//     height: 100vh;
//     position: relative;
//     border-right: solid thin #eee;

//     .nav {
//         span:last-child {
//             margin-left: 10px;
//         }
//     }

// }



// .image-cont {
//     width: 180px;
//     height: 100px;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     margin: 0 auto;
//     overflow: hidden;

//     img {
//         width: 100%;
//         height: 100%;
//     }
// }


// .copywright {
//     position: absolute;
//     bottom: 0;
// }
.responsive-down{
    margin-top:15%;
}
@media only screen and (min-width: 1370px) {
    .responsive-down{
        margin-top:18%;
    }
}