<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" >
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">       
        <li class="nav-item mr-auto"><a class="navbar-brand">
          <img class="brand-logo" alt="BMT logo" src="../../../assets/img/logo_2.png" style="width:180px;padding-left:45px"/>
           
          </a>
          </li>
        <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
      </ul>
    </div>
    <div class="main-menu-content" style="padding-top:1px">
      <ul class="navigation navigation-main responsive-down" id="main-menu-navigation" data-menu="menu-navigation" >
          <li 
            class=" nav-item" 
            routerLinkActive="active"  
            *ngFor="let item of sidebar"
          >
              <div class="badge-cont" 
                *ngIf="notifications$ | async as notifications">
                  <span class="badge" *ngIf="notifications[item.path]">
                      {{ notifications[item.path] }}
                  </span>
              </div>
              <a 
                [routerLink]="item.path">
                <i [class]="item.icon"></i>
                <span 
                  [class]="menu-title" 
                  data-i18n="">{{item.name}}
                </span>
              </a>
          </li>
      </ul>

    </div>
    <a class="btn btn-upgrade-pro " href="http://bsystemslimited.com/" target="_blank"><img class="btn" width="150px" src="../../../assets/img/bsystems-logo.png" alt="Bsystems ltd"></a>
     <div class="navigation-background"></div>
  </div>
