.back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button {
        background: transparent;
        width: auto;

        i {
            color: #000073;
            font-size: 30px;
        }

    }

    #label {
        flex: 1;
        margin-left: 20px;
    }

}


.detail-cont {
    border-radius: 2px;
}