<div class="col-md-4">
    <div class="inputs-container">
        <div *ngIf="selected$ | async as user">
            <div class="back-button">
                <button (click)="back()">
                    <i class="fa fa-long-arrow-left"></i>
                </button>
                <div id="label">Edit Account</div>
            </div>
            <hr>
            <app-admin-user-form 
                (formEvent)="onFormData($event)" 
                [formData]="user"
            ></app-admin-user-form>
            <button 
                (click)="save(user['_id'])">
                Save
            </button>
        </div>
    </div>
</div>