<div [formGroup]="formGroup">
    <div class="input-label">
            <span class="required">Fullname</span>
            <input 
                type="text" 
                formControlName="fullname"
                [ngClass]="{'required-field': formGroup.controls['fullname'].touched && formGroup.controls['fullname'].invalid}"
            >
        </div>
    
    <div class="input-label">
        <span class="required">Email</span>
        <input 
            type="text" 
            formControlName="email"
            [email]
            [ngClass]="{'required-field': formGroup.controls['email'].touched && formGroup.controls['email'].invalid}"
        >
    </div>
    
    <div class="input-label">
        <span class="required">Role</span>
        <select formControlName="corporate_account_type">
            <option value="validator">validator</option>
            <option value="approval">approval</option>
        </select>
    </div>
    
    <div class="input-label">
        <span class="required">Password</span>
        <input 
            type="password" 
            formControlName="password"
            [ngClass]="{'required-field': formGroup.controls['password'].touched && formGroup.controls['password'].invalid}"
        >
    </div>
</div>