

* {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: normal;
}



/* You can add global styles to this file, and also import other style files */
button {
    border: none;
    background: rgb(218, 94, 94);
    padding: 5px 15px 5px 15px;
    outline: none;
    color: #fff;
    border-radius: 2px;
    min-height: 40px;

    #span {
        color: #fff;
    }
    margin-bottom:10px;
}

button:active {
    opacity: 0.6;
}


.badge-cont {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10000;
    margin: 10px;
    // background: rgb(255, 122, 122);
    // width: 30px;
    // height: 30px;
    // border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .badge {
        background: #aa0e0e;
        color: #fff;
        margin-top: 10px;
        border: radius 20px;
        margin-right: -20px;
    }
    
}
.table-badge {
    margin: 10px;
    background: #aa0e0e;
    color: #fff;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
}

.margin {
    margin: 0 0 10px 35px;
}


/*

    CONTENTS EDITABLE CONTAINER STYLES
    FOR SIDEBAR_CONTENT

*/
.contents-editable-container {

    margin: 20px 0 10px 0;
    font-size: 16px;

    div {
        margin: 15px 0 10px 0;
        font-size: 15px;
        font-weight: bold;
        color: rgb(196, 68, 0);
    }

    .label-value {
        font-weight: bold;
        color: #6d6d6d;
        font-size: 15px;
    }

    input {
        width: 100%;
        outline: none;
        padding: 5px 0px 5px 0px;
        border: none;
        font-weight: bold;
        font-size: 16px;
        height: 45px;
        color: #000;
    }
    
    .is-invalid{
        border: solid 1px red;
    }
    .invalid{
        color: red;
    }

    textarea {
        min-height: 200px;
    }

    .input-active {
        border: solid thin #dddddd;
        font-weight: normal;
        padding: 5px 10px 5px 10px;
        color: #000;
        padding: 5px;
    }

    input:focus {
        border: solid thin #4285F4;
    }


}


.label-value {
    font-weight: bold;
    color: #6d6d6d;
    font-size: 15px;
}

input, select, textarea {
    width: 100%;
    outline: none;
    padding: 1px 7px 1px 7px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    color: #000;
    border: solid thin rgb(198, 218, 252);
    background: #fff;
    border-radius: 2px;
    // margin: 10px 0 10px 0;
}


.input-active {
    border: solid thin #dddddd;
    font-weight: normal;
    padding: 5px 10px 5px 10px;
    color: #000;
    padding: 5px;
}

input:focus {
    border: solid thin #4285F4;
}



// NETWORKS //
.mtn {
    background: rgb(255, 223, 79);
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
}


.tigo {
    background: rgb(12, 106, 228);
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
}


.vodafone {
    background: rgb(255, 44, 17);
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
}


.status-failed {
    background: rgb(255, 44, 17);
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
}


.status-paid {
    background: rgb(2, 110, 34);
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
}


.status-pending {
    background: rgb(50, 156, 255);
    color: #fff;
    padding: 5px;
    font-size: 15px;
    border-radius: 2px;
    font-weight: bold;
}

.status-new {
    background: rgb(152, 203, 252);
    color: #fff;
    font-weight: bold;
}


/*

    ADD COMPANIES CONTAINER

*/
.inputs-container {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 2px;

    h5 {
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        color: #494949;
        margin: 0 0 40px 0;
        // border-bottom: solid thin #ddd;
    }


    .input-label {
        margin: 10px auto;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        // height: 40px;
        
        span {
            font-size: 13px;
            margin-bottom: 0 0 10px 0;
            color: #6d6d6d;
            font-weight: bold;
        }

        .invalid{
            color: red;
        }
        
    .is-invalid{
        border: solid 1px red;
        //color: red;
    }
    

        input, textarea, select {
            margin: 10px auto;
            padding: 5px 10px 5px 10px;
            outline-color: rgb(255, 158, 102);
            outline-width: 0.3px;
            border-radius: 2px;
        }

        textarea {
            height: 100px;
            padding-top: 10px;
        }
    }


    button {
        background: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
        
        height: 40px;
        margin: -2px auto;
        width: 100%;
        font-weight: bold;
        outline: none;
        border-radius: 2px;
        height: 50px;
    }


}

.detail-cont {
    padding: 20px;
    height: 80vh;
    overflow-y: scroll;
}


table {

    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    // min-height: 75vh;

    thead {
        tr {

            th {
                font-weight: bold;
                color: #000;
            }
        }
    }

    tbody {
        tr {
            cursor: pointer;
            color: #000;

            td {
                height: 40px;
            }

        }
    }


}

#body {
    width:100%;
    height:100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width:100%;
}



// SPINNER
.loader,
.loader:after {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.loader {
  margin: 50px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid rgb(218, 94, 94);
  border-right: 0.3em solid rgb(218, 94, 94);
  border-bottom: 0.3em solid rgb(218, 94, 94);
  border-left: 0.3em solid #ddd;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.5s infinite linear;
  animation: load8 0.5s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.spinner-container {
    flex-direction: column;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}



.labels-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    button {
        margin: 0 5px 0 5px;
        min-width: 80px;
        height: 40px;
        background: #eee;
        color: #000;
    }
}



p {
    display: flex;
    flex-direction: column;

    span {
        margin-top: 5px;
        color: #666666;
    }

    span:last-child {
        font-size: 20px;
        color: #000;
    }
}



.table-top-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}




.badge-cont {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10000;
    margin: 10px;
    // background: rgb(255, 122, 122);
    // width: 30px;
    // height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .badge {
        background: #aa0e0e;
        color: #fff;
    }
    
}


.table-badge {
    margin: 10px;
    background: #aa0e0e;
    color: #fff;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
}


.account-type {
    // background: #4285F4;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
}



.summary-card {
    padding: 10px;
    margin: 10px 0 0 0;
    border: solid thin #ddd;

    p {
        font-size: 25px;
        font-weight: bold;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
