.internet-con-cont {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;   
    z-index: 5000000000000;
    width: 100%;

    .connection-cont {
        background: rgb(183, 0, 0);
        color: #fff;
        margin-right: auto;
        margin-left: auto;
        padding: 0 5px 0 5px;
        border-radius: 5px;
        width: 20%;

        p {
            text-align: center;
            font-size: 20px;
        }

    }

}