<!-- <div class="container"> -->
  <div class="row" style="margin-top: -69px;">
  <date-filter
  (dateChange)="onDateChange($event)"
></date-filter>
</div>
  <div  *ngIf="!(loading$ | async)"> 
    <div *ngIf="(transfers$ == null); else elseBlock" class="alert alert-success" role="alert" > 
      <h3 style="color:azure"><b>You have not made any transactions yet</b></h3>
    </div>
<ng-template #elseBlock>
<div class="row filter-container" style="margin-top:-76px" >
<!-- <date-filter
  (dateChange)="onDateChange($event)"
></date-filter> -->
<div class="col-md-3 col-lg-3 offset-9">
    <ul class="nav navbar-nav ">         
            <b>Click to view details</b> 
        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown" > <img src="../../../../assets/img/networks/information-signs.jpg" alt="info" style="height:32px;width:32px; border-radius:50%"> </a> 
          <div class="dropdown-menu dropdown-menu">
            <div class="arrow_box_right"><a class="dropdown-item" ><b>Total Transfers:</b> {{ (summary$ | async)?.count }}</a>
              <a class="dropdown-item"><b>Total Payments:</b> {{ (summary$ | async)?.totalPayments | currency: 'GHS' }}</a>
              <a class="dropdown-item" *ngIf="(user$ | async)?.account_type==='user'"><b>Total Refund: </b> {{ (summary$ | async)?.totalRefund | currency: 'GHS' }}</a>
              
            </div>
          </div>
        </li>
      </ul>
</div>
<!-- <div col-md-3>
  All amount in GHS
</div> -->
</div>
<div class="row">
<div class="col-md-2">
<!-- <b> General Search</b> -->
</div>
  <div class="col-md-2" style="margin-left: -30px;">
    <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="General search"> -->
  </div>
 
  <div class="col-md-8">
    <!-- <pagination-controls  id="listing_pagination" directionLinks="true" (pageChange)="page = $event"></pagination-controls> -->
    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
  </div>
</div>

<div class="row" style="margin-top:10px" > 
<div class="col-md-8 col-md-offset-1">
    <div class="row">
        <div class="col-12">
            <div class="card" >
              
              <!-- <pagination-controls maxSize="15" (pageChange)="p = $event"></pagination-controls> -->
              <div style="margin-top: 10px;">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
                <div class="card-content collapse show">
                    <div class="card-body inputs-container " style="margin-top:-5px">
                       
                        <div class="table-responsive"  >
                            <table class="table table-bordered" >
                                <thead>
                                    <tr >
                                        <th>#</th>
                                        <th>Tansaction Date</th>
                                        <th>Total Amount<br>(GHS)</th>
                                        <th>Total Recipients</th>
                                        <th>Successful Tansactions</th>
                                        <th>Failed Tansactions</th>
                                        <th *ngIf="(user$ | async)?.account_type==='company'">Successful Payments</th>
                                        <th *ngIf="(user$ | async)?.account_type==='user'">Total Refund</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let transfer of transfers$ | async | filter:searchText | paginate: { itemsPerPage: 15, currentPage: p}; let i = index" 
                                    (click)="onSelected(transfer);transfer.onClick()" 
                                    [class.list-active]="(selected$ | async)?._id === transfer['_id']">
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td>{{ transfer.getDateString() }}
                                            <span class="table-badge" *ngIf="!transfer.seen">new</span>
                                        </td>
                                        <td>{{ transfer.amount | currency: 'GHS '}}</td>
                                        <td>{{ transfer.total_transfer_count }}</td>
                                        <td>{{ transfer.tsuccessful }}</td>
                                        <td>{{ transfer.tfailed}}</td>
                                        <td *ngIf="(user$ | async)?.account_type==='user'">{{ transfer.total_refund | currency: 'GHS ' }}</td>
                                        <td *ngIf="(user$ | async)?.account_type==='company'">{{ transfer.totalReceived | currency: 'GHS ' }}</td>
                                    </tr>
                                </tbody>
                            </table>


                            

                            <!-- <pagination-controls maxSize="15" (pageChange)="p = $event"></pagination-controls> -->
                          </div>
                         
                    </div>
                </div>
            </div>
        </div>
      </div>

</div>


<div class="col-md-4"  *ngIf="!(loading$ | async)">
    <div class="card inputs-container" [ngSwitch]="onEdit$ | async">
      <app-transfer-status *ngSwitchCase="true"></app-transfer-status>
      <app-transfer-details *ngSwitchCase="false"></app-transfer-details>
    </div>
</div>
</div>

</ng-template>

</div>
<div class="loader" *ngIf="(loading$ | async)">Loading...</div> 


