.detail-cont {
    padding: 20px;
    border-left: solid thin #eee;
}


.table {

    .list-pending {
        color: rgb(100, 167, 255);
    }

    .list-failed {
        color: rgb(255, 71, 71);
    }

    .list-paid {
        color: rgb(48, 145, 100);
    }

    .list-active {
        background: #faf0f0;
        // color: #fff;
    }
}

.inputs-container {
    height: 65vh;
    overflow-y: scroll;
}
@media only screen and (min-width: 1370px) {
    .inputs-container {
        height: 70vh;
        overflow-y: scroll;
    }
    
    
}
@media only screen and (min-width: 1920px) {
    .inputs-container {
        height: 77vh;
        overflow-y: scroll;
    }
    
}



.content {
    height: 90vh;
}
.tableinside{
    padding: 7px 0px 7px 11px;
}