<div class="inputs-container" [formGroup]="formGroup">


    <div class="credit-container">
        <span>Prepaid: </span>
        <span>{{ credit | currency: 'GHS' }}</span>
    </div>
    <div class="credit-container">
        <span>Amount: </span>
        <span>{{ amount | currency : 'GHS' }}</span>
    </div>

    <div class="input-label">
        <span>Select Subscription Type</span>
        <select formControlName="packageId" (change)="onValue($event)">
            <option>Select here</option>
            <option [value]="package._id" 
                    *ngFor="let package of packages">
                    {{ package.name }}
            </option>
        </select>
    </div>
    <br>

    <div class="input-label">
        <span>Select Account Issuer</span>
        <select formControlName="account_issuer">
            <option>Select here</option>
            <option [value]="issuer.id" *ngFor="let issuer of issuers$ | async;">
                    {{ issuer.name }}
            </option>
        </select>
    </div>

    <!-- <div formGroupName="payment">
        <div class="input-label">
            <span>Select Issuer</span>
            <app-check-image 
                [data]="networks"
                (onChange)="networkChange($event)">
            </app-check-image>
        </div>
    
        <div class="input-label">
            <span>Enter Mobile Money Wallet Number</span>
            <input 
                type="text" 
                formControlName="wallet" 
                maxlength="10"
                [ngClass]="{'is-invalid':formGroup.get('payment').get('wallet').touched && formGroup.get('payment').get('wallet').invalid}"
            >
            <div  *ngIf="formGroup.get('payment').get('wallet').touched && formGroup.get('payment').get('wallet').invalid">
                <span class="invalid">Enter Mobile money Wallet</span>
            </div>
        </div>
    
        <div class="input-label" *ngIf="isNetworkVodafone">
            <span>Enter your voucher code for vodafone cash, Vodafone requires that you generate a voucher code by dialing *110#</span>
            <input 
                type="text" 
                formControlName="voucherCode"
            >
        </div>
    </div> -->


  </div>
  