.credit-container {

    display: flex;
    justify-content: space-between;

    span {
        font-size: 20px;
    }

    span:last-child {
        color: #000;
        // background: rgb(103, 147, 243);
        padding: 5px;
        border-radius: 2px;
        font-weight: bold;
    }
    
}