<div [formGroup]="formGroup">
  <div class="container" style="margin-top:-35px">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-lg-2">
        <p style="margin-top:3%"><b>My Favourites</b></p>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 col-offset-3" style="margin-left:-5%">
        <select (change)="onHistoryChange($event)">
          <option value="none">Select here</option>
          <option [value]="history._id" *ngFor="let history of history$ | async">
            {{ history.name }}
          </option>
        </select>
      </div>
      <!-- <div class="col-md-3"></div> -->
      <!-- <div class="col-md-3 col-sm-3 col-lg-3 pull-right" style="margin-left:27.5%">
                <button
                style="background: rgb(67, 150, 67);"
                (click)="save()"
            ><i class="fa fa-paper-plane"></i> Send Money</button>
        </div> -->
    </div>
  </div>

  <br />

  <div class="container">
    <div class="row" style="margin-top:-5px">
      <div class="col-md-2">
        <button class="picker-button" (click)="picker.click()" style="
                min-height: 38px;
                margin-top: 1%;
            ">
          <span class="fa fa-upload"></span>
          Upload CSV
        </button>
        <input type="file" #picker (change)="onCSVChange($event)" style="display: none;" />
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8" style="margin-left:-10%">
        <!-- <input
          type="text"
          style="margin:0 0px 8px 0px;height: 84%;width: 70%;border-color: transparent;background: #eeee;font-weight: normal;color: 5f6368; border-radius: 15px"
          placeholder="Search name or Phone Number"
          (keyup)="onSearch($event)"
        /> -->
        <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by name, email, phone number and role"> -->
        <!-- <pagination-controls  id="listing_pagination" maxSize="15" directionLinks="true" (pageChange)="page = $event"></pagination-controls> -->
      </div>
    </div>

    <!-- <img src="../../../../../assets/img/networks/Airtel-money.png" alt=""> -->
  </div>
  <br />

  <div [ngSwitch]="loading$ | async">
    
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="padding-bottom:0px">
            <div class="row">
              <div class="col-md-4">
                <h4 class="card-title" style="margin-top:10px">
                  <b>Recipients</b>
                </h4>
              </div>
              <div class="col-md-2">
                <button
                  class="picker-button"
                  (click)="addOne()"
                  style="background-color:#9c8f8f;"
                >
                  <i class="fa fa-user"></i> Add One Recipient
                </button>
              </div>
              <div class="col-md-2">
                <button
                  class="picker-button"
                  (click)="addMore()"
                  style="background-color:#9c8f8f"
                >
                  <i class="fa fa-users"></i> Add More Recipients
                </button>
              </div>
              
              <div class="col-md-2">
                <button
                  class="picker-button"
                  (click)="enquire()"
                  style="background-color:#9c8f8f"
                >
                  <i class="fa fa-search"></i> Name Enquiry
                </button>
              </div>
              <div class="col-md-2">
                <button
                  class="picker-button"
                  (click)="clearArray()"
                  style="background-color:red"
                >
                  <i class="fa fa-trash"></i> Clear all
                </button>
              </div>
            </div>
          </div>

          <div formArrayName="accounts" class="card-content collapse show">
            <div class="card-body inputs-container">

              <div class="table-responsive">
                <table class="table table-bordered" *ngSwitchCase="false">
                  <thead class="">
                    <tr>
                      <th>#</th>
                      <th>Recipient's Name</th>
                      <th>Account Number</th>
                      <th>Amount</th>
                      <th>Account Issuer</th>
                      <th>Description</th>
                      <th>Remove</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let account of accounts.controls let i = index" [formGroupName]="i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <input type="text" formControlName="account_name" />
                      </td>
                      <td>
                        <input class="phone" type="text" formControlName="account_number"
                          placeholder="Account number" />
                      </td>
                      <td>
                        <input type="text" formControlName="amount" />
                      </td>
                      <td>
                        <select formControlName="account_issuer">
                          <option [value]="issuer.id" *ngFor="let issuer of issuers$ | async">
                            {{ issuer.name }}
                          </option>
                        </select>
                      </td>
                      <td>
                        <textarea formControlName="description" placeholder="Atleast 10 characters" cols="30"
                          rows="10"></textarea>

                      </td>
                      <td>
                        <button (click)="removeAccount(i)" class="remove-button btn-sm"
                          style="margin-top:-6%; border-radius:21px">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="loader" *ngSwitchCase="true" style="width: 100px; height: 100px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <br> -->

    <div class="row" style="font-size: 17px;">
      <div class="col-md-3">
        <span style="margin-left:10px">Number of recipient(s):</span>
        <span style="
                    font-weight: bold;
                    margin-left: 10px;
                ">{{ accounts.length }}</span>
      </div>
      <div class="col-md-3">
        <span>Charge:</span>
        <span style="
                    font-weight: bold;
                    margin-left: 10px;
                ">{{ charges | currency: "GH₵" }}</span>
      </div>
      <div class="col-md-3">
        <span>Total Amount:</span>
        <span style="
                    font-weight: bold;
                    margin-left: 10px;
                ">{{ formGroup.get("amount").value | currency: "GH₵" }}</span>
               
      </div>
      <!-- <div class="col-md-3">
        <button
          class="btn buton"
          style="background: red;"
          (click)="clearArray()"
        >
          <i class="fa fa-times"></i> Cancel
        </button>
     
      </div> -->
      <div class="col-md-3">
        <button class="btn buton" style="background: rgb(67, 150, 67);" (click)="save()">
          <i class="fa fa-paper-plane"></i> Send Money
        </button>
        <!-- <p>{{describe.value}}</p> -->
      </div>
    </div>

    <app-sidebar-wide>
      <div class="">
        <!-- <hr>
            <span style="color:red">* Every field is required</span>
            <br> -->

        <div class="row" style="margin-top:10px; margin-bottom:10px">
          <div class="col-md-6">
            <img src="../../../../../dashboard/assets/images/backgrounds/sendMoney.png" alt="Momo" width="100%">
          </div>
          <div class="col-md-6" style="margin-top: 15px;">
            <img src="../../../../../dashboard/assets/images/backgrounds/Artboard 46@4x.png" alt="card" width="100%">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="input-label">
              <span>Select Payment Method *</span>
              <select (change)="onPaymentType($event)">
                <option value="none">Select here</option>
                <option value="manual">Enter Sender's Number</option>
                <option value="auto">Use Wallet Account</option>
                <option value="card-account">Card Payment</option>
              </select>
            </div>
          </div>
        </div>

        <br>
        <div *ngIf="paymentType === 'manual'">
          <div class="input-label">
            <span>Select Account Issuer | Provider *</span>
            <select formControlName="account_issuer">
              <option *ngFor="let issuer of issuers$ | async;" [value]="issuer.id">{{ issuer.name }}</option>
            </select>
          </div>

          <br>
          <div class="input-label">
            <span>Enter Sender's Number *</span>
            <input type="text" formControlName="account_number" maxlength="10" placeholder="Payment account number" />
          </div>
          <br>
        </div>

        <br />

        <div class="row" *ngIf="paymentType === 'auto'">
          <div class="col-md-12">
            <div class="input-label">
              <span>Select Wallet Account *</span>
              <br />
              <select (change)="onPaymentAccount($event)">
                <option value="none">Select here</option>
                <option [value]="account._id" *ngFor="let account of accounts$ | async">
                  {{ account.name }}
                </option>
              </select>
            </div>
            <br />
          </div>
        </div>

        <!-- <div class="input-label" *ngIf="formGroup.get('account_issuer').value === '300594'">
          <span
            >Enter your voucher code for vodafone cash, Vodafone requires that
            you generate a voucher code by dialing *110# *</span
          >
          <input
            type="number"
            formControlName="account_voucher"
            placeholder="voucher code"
          />
        </div> -->

        <br />
        <br />
        <br />

        <div *ngIf="paymentType === 'card-account'">
          <app-theteller (process)="processPayment($event)"></app-theteller>
        </div>

        <div *ngIf="paymentType !== 'card-account' && paymentType !== 'none'">
          <button (click)="confirmTransfer()">Send Transfer</button>
        </div>
      </div>
    </app-sidebar-wide>
  </div>
</div>