.credit-container {

    display: flex;
    justify-content: space-between;

    span {
        font-size: 20px;
        color: #000;
    }

    span:last-child {
        color: #000;
        // background: rgb(103, 147, 243);
        padding: 5px;
        border-radius: 2px;
        font-weight: bold;
    }
    
}


.toggle-me {
    background: red;
    color: white;
}



.input-label {
    span {
        font-weight: bold;
        color: #000;
    }
}


.add-recipients-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    width: 

    span {
        color: #000;
    }

    select {
        width: 55px;
    }



}



.recipients-account-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    select {
        width: 100px;
        margin: 0 0 0 10px;
    }

    .phone {
        width: 150px;
        margin: 0 10px 0 0;
    }

}



.add-account-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
        color: #000;
        font-weight: bold;
        flex: 1;
    }

    button {
        background: transparent;
        width: 50px;
        color: rgb(255, 87, 95);
    }

}


.inputs-container {
    height: 40vh;
    overflow-y: scroll;
}

@media only screen and (min-width: 1370px) {
    .inputs-container {
        height: 49vh;
        overflow-y: scroll;
    }
    .buton{
        height:53px !important;
        width: 190px;
    }
    
}
@media only screen and (min-width: 1920px) {
    .inputs-container {
        height: 55vh;
        overflow-y: scroll;
    }
    .buton{
        height:53px !important;
        width: 190px;
    }
}



.transfer-button {
    background: rgb(35, 168, 35);
    font-size: 20px;
}


.picker-button {
    // height: 30px;
    // width: 185px;
    font-size: 13px;
    background: rgb(46, 156, 247);
    color: #fff;
    margin:0 8px 8px 0px;
    border-radius: 3px;
}


.remove-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(248, 79, 79); 
    width: 40px; 
    height: 20px;
}


.disabled {
    background: grey;
}


.credit-cont {
    span {
        font-size: 20px;
    }
}

.tableinside{
    padding:7px 0px 10px 11px ;
}


.input-cont {
    padding: 10px;

    input {
        height: 40px;
    }
}
