<br>

<div class="row container" style="margin-top: -85px">
    <div class="col-md-3">
        <span>
            <button (click)="back()">
                <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size:23px;margin-right: 7px" ></i> Back
            </button>
        </span>
        <span style="margin: 0 0 0 20px;"></span>
    </div>
    <div class="col-md-3" style="margin-top:10px">
           <h4 class="pull-right"> <b> Search by status:</b></h4>    
    </div>
    <div class="col-md-3">
             <select (change)="onStatusChange($event)" style="height:85%">
            <option value="none">none</option>
            <option value="paid">paid</option>
            <option value="failed">failed</option>
            <option value="pending">pending</option>
        </select>
    </div>
    <div class="col-md-3">
        <button
            (click)="download()"

        >
        <i class="fa fa-download" aria-hidden="true" style="font-size:20px;margin-right: 7px" ></i> Download
        </button>
    </div>
</div>

<br>


<!-- <app-search-component
    (searchEvent)="onSearch($event)"
></app-search-component> -->
<div class="row">
    <div class="col-md-6">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by name, email, phone number and role">
    </div>
    <div class="col-md-6">
        <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div [ngSwitch]="loading$ | async">
                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>  -->
                <div class="card-content" *ngIf="selected_transfer">
                    <div class="card-body scrol-cont" >
                        <div *ngIf="(user$ | async)?.company_role === 'authorizer' ">
                        <button *ngIf="selected_transfer.total_amount_failed" (click)="approve()" class="btn btn-info" style="width: auto;float: right;margin-bottom: 12px;background: #e7e7e7; color: black; margin-top: 10px;margin-right: 5px;">Resend Failed</button>
                      </div>
                        <div class="table-responsive ">
                          
                <table class="table table-bordered " *ngSwitchCase="false" style="margin: 10px;" >
                    <thead>
                        <tr>
                            <th >#</th>
                            <th>Account Type</th>
                            <th >Recipient's Name</th>
                            <th >Account Number</th>
                            <th >Amount Sent</th>
                            <th >Account issuer</th>
                            <th >Status</th>
                            <!-- <th class="text-left tableinside">Amount</th> -->
                            <th >Description</th>
                            <th >Message</th>
                            <!-- <th>Me</th> -->
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let transaction of transactions$ | async | filter:searchText | paginate: { id: 'listing_pagination', itemsPerPage: 15, currentPage: page,totalItems: totalRec}; let i = index;">
                            
                            <td>{{ i + 1 }}</td>
                            <td>{{ transaction.account_type }}</td>
                            <th >{{ transaction.account_name }}</th>
                            <th >{{ transaction.account_number }}</th>
                            <th >{{ transaction.amount | currency: 'GHS' }}</th>
                            <!-- <th class="text-left">xxxx</th> -->
                            <th >{{ transaction.getIssuer(issuers$ | async) }}</th>
                            <th>
                                <span *ngSwitchCase="false"
                                    [class.status-failed]="transaction.status === 'failed'"
                                    [class.status-paid]="transaction.status === 'paid'"
                                    [class.status-pending]="transaction.status === 'pending'"
                                >{{ transaction.status }}</span>
                                <!-- <button *ngIf="transaction.status === 'failed'" style="
                                border-radius: 15px;
                                margin-top: 10px;
                                margin-right: 5px;
                            ">Resend</button> -->
                            </th>
                            <!-- <th class="text-left tableinside">{{ transaction.paymentAccount.amount}}</th> -->
                            <th class="text-left">{{ transaction.description }}</th>
                            <th class="text-left">{{ transaction.message }}</th>
                            <!-- <th>  {{selected_transfer.total_amount_failed }}</th> -->
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
               </div>
                <div class="loader" *ngSwitchCase="true"></div>
        </div>
    </div>
    </div>
</div>