<div class="container" style="margin-top:-51px" [formGroup]="formGroup">
  <br>
  <br>
    <div class="container" formGroupName="settings">
          <div class="row">
              <div class="col-md-2 col-sm-2 col-lg-2">
                      <p style="margin-top:3%"><b>Select Debit API</b></p>
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 col-offset-3" style="margin-left:-5%">
                      <select formControlName="debit_aggregator">
                          <option value="" *ngIf="loading$ | async">loading..</option>
                          <option 
                            [value]="aggregator" 
                            *ngFor="let aggregator of aggregators;"
                        >
                              {{ aggregator }}
                          </option>
                      </select>
              </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-lg-2">
                    <p style="margin-top:3%"><b>Select Credit API</b></p>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-offset-3" style="margin-left:-5%">
                    <select formControlName="credit_aggregator">
                        <option value="" *ngIf="loading$ | async">loading..</option>
                        <option [value]="aggregator" 
                            *ngFor="let aggregator of aggregators;"
                        >
                            {{ aggregator }}
                        </option>
                    </select>
            </div>
            
            
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-2 col-lg-2">
                <p style="margin-top:3%"><b>Enter Charge</b></p>
            </div>
            <div 
                class="col-md-4 col-sm-4 col-lg-4 col-offset-3" 
                style="margin-left:-5%"
            >
                <input 
                    formControlName="charge"
                />
            </div>
        </div>
        <button 
            (click)="save()"
        >Save</button>

    </div>

      <br>

      <div formGroupName="topup">
          <p>PreFund Account</p>
          <hr>
          <div class="row">
              <div class="col-md-6">
                  <select formControlName="id" class="form-control">
                      <option *ngFor="let user of users$ | async;" [value]="user._id">
                          {{ user.fullname +' ~ '+ user.email }}
                      </option>
                  </select>
                  <br>
                  <input 
                    class="form-control" 
                    type="text" placeholder="amount"
                    formControlName="amount"
                >
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
                <button [disabled]="loading$ | async" (click)="topup()" class="btn">topup</button>
            </div>
          </div>
      </div>

  <br>


  <br>



 
</div>
